[2012-05-15 09:09] mpost opened #1 "Allow to shrink the widget on any density/resolution"

[2012-05-15 09:11] mpost opened #2 "Properly deal with events in different time zones than the devices timezone"

[2012-05-15 09:11] mpost opened #3 "Allow to configure the font size"

[2012-05-15 09:12] mpost opened #4 "Spell checking underlining seams to be enabled on some devices"

[2012-05-15 09:13] mpost opened #5 "Allow to adjust the transparency of the background texture"

[2012-05-15 09:13] mpost opened #6 "Refresh the calendar widget at 0:00 device time to refresh the displayed date."

[2012-05-15 09:14] mpost opened #7 "React to changes of the devices local, timezone, time and date"

[2012-05-15 09:14] mpost opened #8 "Allow to select the calendars to display"

[2012-05-15 09:15] mpost opened #9 "Add support for very small widget size (1x1 or 1x2 cells)"
Maybe show only the number of available events today and/or tomorrow.

[2012-05-19 15:49] #4 closed, assigned to mpost

[2012-05-20 14:40] #8 closed, assigned to mpost

[2012-05-20 15:52] mpost opened #10 "Allow to hide the date and settings header"

[2012-05-20 16:05] #10 closed, assigned to mpost

[2012-05-28 09:49] #1 closed, assigned to mpost

[2012-05-28 10:04] #3 closed, assigned to mpost

[2012-06-03 11:39] mpost opened #11 "Show indicator for recurring events"

[2012-06-03 11:39] mpost opened #12 "Show indicator for alerts"

[2012-06-09 12:01] #2 closed, assigned to nobody

[2012-06-09 12:59] #6 closed, assigned to mpost

[2012-06-09 12:59] #7 closed, assigned to mpost

[2012-06-09 12:59] #11 closed, assigned to mpost

[2012-06-09 12:59] #12 closed, assigned to mpost

[2012-06-10 08:31] mpost opened #13 "Opening an event from the widget displays wrong date"

[2012-06-10 09:05] #13 closed, assigned to mpost

[2012-07-02 20:10] mpost opened #14 "Add support for AM/PM time format"

[2012-07-02 20:11] mpost opened #15 "Touching a calendar entry should provide touch feedback"

[2012-07-02 20:11] mpost opened #16 "Ensure support for API level 16"
Style, resize event etc.

[2012-07-02 20:15] mpost opened #17 "Events that span multiple days only show entry on the first day"

[2012-07-07 11:02] #15 closed, assigned to mpost

[2012-07-08 10:33] #14 closed, assigned to mpost

[2012-07-08 10:36] mpost opened #18 "Sometimes events show up that are dated as yesterday"

[2012-07-08 10:36] #17 closed, assigned to mpost

[2012-07-08 11:08] mpost opened #19 "Events without a title should indicate that there is no title"

[2012-07-08 11:08] #19 closed, assigned to mpost

[2012-07-08 11:34] #18 closed, assigned to mpost

[2012-07-08 14:09] mpost opened #20 "NPE in calendar preferences screen when no calendar exists"
java.lang.RuntimeException: Unable to resume activity {com.plusonelabs.calendar/com.plusonelabs.calendar.CalendarConfigurationActivity}: java.lang.NullPointerException
at android.app.ActivityThread.performResumeActivity(ActivityThread.java:2568)
at android.app.ActivityThread.handleResumeActivity(ActivityThread.java:2596)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2110)

[2012-07-08 17:27] mpost opened #21 "Noon is displayed as 0:00 pm instead of 12:00 pm in am/pm format"

[2012-07-08 17:46] #20 closed, assigned to nobody

[2012-07-08 17:46] #21 closed, assigned to mpost

[2012-07-14 10:10] mpost opened #22 "Calendar colors are not displayed in the Calendar widget on Jelly Bean"
The colors given by the calendar provider do not have an alpha component and therefore appear transparent.

[2012-07-14 10:13] mpost opened #23 "Opening the calendar preference page multiple times adds the calendars multiple times"

[2012-07-14 10:13] mpost opened #24 "Add support for event custom colors"

[2012-07-14 10:29] #24 closed, assigned to nobody

[2012-07-14 10:41] #23 closed, assigned to mpost

[2012-07-14 10:41] #16 closed, assigned to mpost

[2012-07-14 12:20] #22 closed, assigned to mpost

[2012-07-15 09:13] mpost opened #25 "Spanning events that start and end on the same time are displayed with one day short"

[2012-07-15 11:23] #25 closed, assigned to mpost

[2012-07-25 20:04] #5 closed, assigned to mpost

[2012-07-25 21:57] mpost opened #26 "All day events are displayed one day to late"
The issue is reported by several people via email and in the app comments.

Example:

"Good BUT... All my "all day events" show on the immediate previous date... ie: all day August 3rd shows under August 2nd. But Timed events show on the correct date... otherwise great design, just wish it worked... so not quite full JB or ICS calendar support yet...???"

Research has not revealed the problem. May

[2012-08-04 08:04] mpost opened #27 "IndexOutOfBounds possibly when placing the widget twice on the home screen"
java.lang.IndexOutOfBoundsException: Invalid index 2, size is 2
at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:251)
at java.util.ArrayList.get(ArrayList.java:304)
at com.plusonelabs.calendar.EventRemoteViewsFactory.getViewAt(EventRemoteViewsFactory.java:64)
at android.widget.RemoteViewsService$RemoteViewsFactoryAdapter.getViewAt(RemoteViewsService.java:164)
at com.android.int

[2012-08-04 08:10] #27 closed, assigned to mpost

[2012-08-04 19:05] #26 closed, assigned to mpost

[2012-08-05 19:31] mpost opened #28 "Add ability to change appearance of Widget header"

[2012-08-22 15:55] nickhristov opened #29 "Add support to display (and complete) Google Tasks"
Using the existing content providers (Astrid, gTasks, etc.)

[2012-09-08 08:26] mpost opened #30 "Allow to left align the day header"

[2012-09-08 08:27] mpost opened #31 "Add ability to create new events directly from the widget"
Possibly by adding a + sign next to the overflow menu in the top bar.

[2012-09-08 08:28] mpost opened #32 "Clicking on day header opens the native calendar app instead of allowing to choose the calendar app"
User Report:

when I click on a date ( not an event ) it always pops up the Samsung calendar app instead of a chooser of the installed calendar apps (where i can set which should open from now on).

It is a problem because I do not use the Samsung calendar app but an other. The bug appears only by clicking on the date, clicking on an event pops up a calendar app chooser as it should.

[2012-09-08 08:30] mpost opened #33 "Improve "loading..." indicator when events load"
Currently you see a repeated list of "Loading..." strings. This could be visually improved.

[2012-09-08 08:32] mpost opened #34 "Add option to show all days not only the ones with events."

[2012-09-14 08:56] mpost opened #35 "IllegalArgumentException in certain time zone"
Extracted from the play store developer console:

app version:  1.4

java.lang.IllegalArgumentException: Illegal instant due to time zone offset transition: 2012-10-14T00:00:00.000 (America/Santiago)
 at org.joda.time.DateTimeZone.convertLocalToUTC(DateTimeZone.java:996)
 at com.plusonelabs.calendar.calendar.CalendarEventProvider.createCalendarEvent(CalendarEventProvider.java:128)
 at com.plusonel

[2012-09-14 08:58] mpost opened #36 "NPE when trying to get RemoteView"
Reported from Google Play developer console:

App version: 1.4

java.lang.NullPointerException
 at com.plusonelabs.calendar.calendar.CalendarEventVisualizer.getRemoteView(CalendarEventVisualizer.java:54)
 at com.plusonelabs.calendar.EventRemoteViewsFactory.getViewAt(EventRemoteViewsFactory.java:76)
 at android.widget.RemoteViewsService$RemoteViewsFactoryAdapter.getViewAt(RemoteViewsService.java:16

[2012-09-14 14:00] mpost opened #37 "Add support to show different calendars in different widget instances"
Currently instances of the widget share the same preferences and hence show the same calendars.

[2012-09-17 22:19] mpost opened #38 "The following day header is not showing "tomorrow""

[2012-09-18 16:35] lu-w opened #39 "Allow the user to select the range in which the dates are shown"
It would be awesome if it was possible to select an option like "Show all dates up to 60 days" or "Show all dates set for the next three months". For some people with less frequent dates in their calendar (but who like the possibility of displaying them in a widget) this feature would be great. At the moment I am able to see exactly one date (which is set in the next month).
I would like to see th

[2012-11-16 21:16] alterechtschreibung opened #40 "License???"
What is the license of your app?

[2012-12-01 09:19] #40 closed, assigned to nobody

[2012-12-01 09:35] #38 closed, assigned to mpost

[2012-12-01 09:39] #36 closed, assigned to mpost

[2012-12-01 10:06] mpost opened #42 "Allow to display an event in one line (with time possibly appended)"

[2012-12-01 10:18] mpost opened #43 "Add support to use the calendar on the lockscreen"

[2012-12-01 12:05] #31 closed, assigned to mpost

[2012-12-01 12:22] #43 closed, assigned to mpost

[2012-12-03 19:52] mpost opened #44 "Add support for event specific colors"

[2012-12-03 19:52] mpost opened #45 "Add option to also show days without events"

[2012-12-06 07:20] nicooo opened #46 "Show only the first instance of a recurring event"
The first upcoming instance.

[2012-12-08 16:18] mpost opened #48 "Some devices crash when adding new events via the widget"
The intent used to create new events is only supported on devices with the stock calendar app. The following intent should be more compatible.

[code]

[2012-12-08 20:42] mpost opened #49 "Events that last for one day from midnight to midnight have a wrong time indication"
An event that lasts from day one 0:00 to day two 0:00 is displayed as a spanning elements over two days which could be okay. A better approach would be to only show it as an event on day one.

In addition to being a spanning event, the day one event is shown as an all day event without any time and the day two event is shown as an event with the time being two arrows.

[2012-12-11 14:42] userbowe opened #50 "Add support of Czech language"
Hi,
I would like to translate this app to Czech language. Is it possible to translate it?

[2012-12-11 22:12] #50 closed, assigned to mpost

[2012-12-11 22:17] #48 closed, assigned to nobody

[2012-12-12 11:41] satoru6388 opened #51 "all-day event starts incorrectly"
app ver. 1.5.1

This issue may depend on my time-zone (Asia/Tokyo).

Create an all-day event  Dec.10 - Dec.14,
Then, widget shows it every 5 days.
Click one of them, event screen says Dec.9 - Dec.14.

 Just for your information, following code fix this.

createCalendarEvent() in CalendarEventProvider.java

[code]

[2012-12-28 22:28] nepeti opened #52 "Hungarian translation"
Thank you for  this good app. Here is the hungarian translation.

[2013-01-16 09:24] rpagyc opened #53 "Localization to Russian"
translated the strings.xml to Russian.

<?xml version="1.0" encoding="utf-8"?>
<resources>

[code]

</resources>

[2013-01-16 12:59] vovkav opened #54 "plz, provide a direct link to .apk for those that do not have access to google play"
plz, provide a direct link to .apk for those that do not have access to google play

[2013-01-19 09:28] #53 closed, assigned to mpost

[2013-01-19 09:30] #52 closed, assigned to mpost

[2013-01-25 21:46] bartrail opened #55 "show location of dates"
It would be great if you could add a way to turn on the date's location in the widget as well (optional)
..it would fit perfectly next to the time :)

Cheers

[2013-02-01 23:55] zamalkawy4ever opened #56 "Showing birthdays and anniversaries"
I set the birthdays of some of my contacts. And set the calendar not display such birthdays.
Your calendar does not abide with this setting and displays the birthdays in the widget.

[2013-02-19 09:33] mpost opened #57 "Adding events crashes S Planner on SGS3"
From user feedback:

Unfortunately, every time I tap the + button to enter s planner on the galaxy s3 it causes it to stop working.  Not sure why. Have you any possible recommendations?

[2013-02-19 09:38] mpost opened #58 "Hide colors of calendars"

[2013-02-19 09:40] mpost opened #59 "Add preference to make event title span across multiple lines"

[2013-02-22 20:34] mpost opened #60 "Add even smaller font to font sizes"

[2013-02-26 09:17] #54 closed, assigned to nobody

[2013-03-03 10:47] #45 closed, assigned to nobody

[2013-03-03 10:49] #39 closed, assigned to nobody

[2013-03-03 11:20] #55 closed, assigned to nobody

[2013-03-03 17:36] #60 closed, assigned to nobody

[2013-03-03 18:06] #59 closed, assigned to nobody

[2013-03-07 23:15] dbanck opened #61 "Widget crashes all the time after the last update"
After today's update the calendar widget keeps crashing all the time and doesn't display any events.

Logcat:

[code]

[2013-03-07 23:28] #57 closed, assigned to mpost

[2013-03-07 23:30] mpost opened #62 "Widgets crashses when textSize is set from previous version"
Previously the textSize was set as a string description. Now it is set as a float scale. The widget crashes because the preexisting string can not be converted to a float.

[2013-03-07 23:31] #62 closed, assigned to mpost

[2013-03-07 23:31] #61 closed, assigned to nobody

[2013-03-30 04:55] baopham opened #63 "A shortcut to add a new event"
It would be nice if there's a plus sign some where to quickly add a new event... save some clicks XD

[2013-03-30 14:36] #63 closed, assigned to nobody

[2013-04-18 17:41] mpost opened #64 "Add spanish translation"

[2013-04-18 17:44] #64 closed, assigned to mpost

[2013-04-23 06:59] pafcioooo opened #66 "display calendar on lock screen"
On the google play calendar-widget info page, there is information that this app allows for displaying calendar on android lock screen. However I do not see any option for this.

So is that option available or not? If it is then how to set it up? If no then I am asking for enhancement.

[2013-04-25 08:21] #66 closed, assigned to nobody

[2013-05-10 20:07] jpwpo opened #68 "editing recurring event (bithday) shows wrong date"
when editing a recurring event i.e. birthday-events aCalendar dialog shows the wrong day (one day difference). The correct day of a birthday may be 11th of May - which is shown correctly both in the widget and aCalendar, but when trying to edit it from within the widget, aCalendar displays the 10th of May in the editor dialog.

[2013-05-11 08:25] #68 closed, assigned to nobody

[2013-05-19 18:21] hannupekka opened #70 "Date formatting and default calendar app"
Would be nice to

1) be able to customize date format
2) open definable application on calendar click

[2013-08-07 10:37] kcignatius opened #71 "Open chosen app in default view"
I would like to be able to open my chosen app in month view. As it stands there is no way to just open the app.

[2013-09-01 09:22] carettasarah opened #72 "location not displayed on all day events"
Hi, I love this widget and use it constantly to keep track of my calendar. But I have noticed that if you use the option to display location, it displays onlynfor appointments, but not for all day events. Would be great if you can fix that. Thanks. Sarah.

[2013-09-01 20:54] pholz opened #73 "Self attendance status"
I'd really like to see the status of the event (not responded / accepted / declined / tentative) indicated somehow in the list. (I am using the widget with an exchange 2003 calendar, and there is no such indication)

I tried adding it: I cloned the project and tried querying Instance.SELF_ATTENDEE_STATUS and Instance.STATUS, but both always return 0. Could this be a problem with the underlying exc

[2013-09-04 15:36] David-Guillot opened #74 "Add an option to display multi-days events once"
As it is an "agenda" view (not a "calendar" view), we could expect to see events running on multiple days only once, with for example a notice like "x days", so we would have :
- Friday : vacations (3 days)

instead of the currently redundant :
- Friday : vacations
- Saturday : vacations
- Sunday : vacations

[2013-09-04 15:46] #71 closed, assigned to nobody

[2013-09-24 22:07] imccmi opened #75 "Feature request - Select calendar app to open when clicking on date."
Currently when clicking on an event you can select the calendar app to open, but clicking on the date always opens Google Calendar. It would be useful to also be able to set a default  app that opens when clicking on the date.

[2013-10-01 16:03] drojf opened #76 "add option to show number of days left until event occurs"
So you can, at a glance see how long until an event occurs.

[2013-11-04 11:38] alexisju opened #78 "Translation"
Hello! I see i your sources that severals languages are yet translated...
But not available to end-user package (1.6.2 from fdroid repository).
Can we do something about that?

Thank you for your work and this usefull widget.

[2013-11-04 12:44] #78 closed, assigned to nobody

[2013-11-04 16:32] mrsilver76 opened #79 "Include age of person whose birthday it is. The same for Anniversaries"
When you are subscribed to the "Contact's birthday and events" calendar then rather than stating:

`Fred Blogg's birthday`

it would be nice if it stated the age as well:

`Fred Blogg's 37th birthday`

If this causes problems with language translations, then:

`Fred Blogg's birthday (37)`

would also work.

[2013-11-17 15:29] mpost opened #80 "Add support for portuguese brazil language"
Provided by pull request:
https://github.com/plusonelabs/calendar-widget/pull/77

[2013-11-17 15:29] #80 closed, assigned to nobody

[2013-11-17 15:34] mpost opened #81 "Add Italian translation"

[2013-11-17 15:55] #81 closed, assigned to mpost

[2013-11-17 17:03] #49 closed, assigned to mpost

[2013-11-18 02:50] hermajan opened #83 "Link to the Google Play store"
I think in readme will be good to provide link to the Google Play store.

Something like this:
<a href="https://play.google.com/store/apps/details?id=com.plusonelabs.calendar">
  <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>

Code (generated by <a href="http://developer.android.com/distribute/googleplay/promote/badges.html">Googl

[2013-11-18 09:19] mpost opened #84 "Settings activity crashes on Android 4.4 (KitKat)"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.plusonelabs.calendar/com.plusonelabs.calendar.WidgetConfigurationActivity}: java.lang.RuntimeException: Subclasses of PreferenceActivity must override isValidFragment(String) to verify that the Fragment class is valid! com.plusonelabs.calendar.WidgetConfigurationActivity has not checked if fragment com.plusonelabs.calendar.pref

[2013-11-18 09:40] #84 closed, assigned to nobody

[2013-11-20 10:29] #83 closed, assigned to mpost

[2013-11-28 01:52] fishstik opened #85 "Click date header to open calendar"
Currently the top header string is not clickable. Could you add the ability to click it to open a chosen calendar app (preferably in the default view)?

![screenshot_2013-11-27-20-49-16](https://f.cloud.github.com/assets/4278123/1636458/97fe125a-57cf-11e3-91b3-124a61aaa66d.png)

[2013-12-07 11:43] #35 closed, assigned to nobody

[2013-12-07 11:45] mpost opened #86 "Add light theme"
Currently we show light text on dark background. We should allow to choose a dark light theme with dark text on a light background .

[2013-12-17 18:44] joerosato opened #87 "Refresh issue?"
Updated calendar on phone and then looked at widget. Not listed. Opened calendar and it was still these. Deleted widget and recreated it and all was ok. Refresh issue?

[2013-12-29 13:01] #44 closed, assigned to mpost

[2013-12-29 13:01] #85 closed, assigned to mpost

[2013-12-29 13:01] #86 closed, assigned to mpost

[2013-12-29 19:35] mpost opened #89 "App crashes on Android 4.1 devices because unknown query column is used"
<pre>
java.lang.IllegalArgumentException: Invalid column displayColor
at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:167)
at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:137)
at android.content.ContentProviderProxy.query(ContentProviderNative.java:358)
at android.content.ContentResolver.query(ContentResolver.java:312)
at com.plusonelabs.ca

[2013-12-29 19:36] #89 closed, assigned to mpost

[2013-12-29 23:44] ghost opened #90 "Date underline changed to dark"
Prior to the most recent version the date had a light colored underline, but now it's dark which looks horrible on certain backgrounds when using transparency.

Please revert this change or at least give us an option for date underline color (and text while you're at it). Thanks for a great widget.

[2013-12-30 08:28] #87 closed, assigned to nobody

[2013-12-30 10:08] mpost opened #91 "Setting background color applies a grayish tint"
The background color of the widget is overlayed on top of a gray background which causes the set background color to be tinted gray.

[2013-12-30 10:10] #91 closed, assigned to mpost

[2013-12-30 10:57] #90 closed, assigned to mpost

[2013-12-31 13:08] #30 closed, assigned to mpost

[2014-01-04 11:50] #74 closed, assigned to mpost

[2014-01-04 12:24] aschrafl opened #92 "Text-shadow over transparent backgrounds"
Add the option to have shadows beneath the text for better readability when the background is set to transparent.
The shadows should be opposing colors to the text (white for dark text and black for light text).
Have a look at the widget from Mirakel to see a visualization of this (fixed colors).

[2014-01-11 18:22] pyther opened #93 "Ability to access settings when header is removed"
I am using the dashclock widget along the calendar widget on the same screen. The dashclock widget shows the time and date, making it redundant to show the date again in the calendar widget (thus I remove the header). Is possible to add an icon in the widget (perhaps a setting icon in the top left corner of the widget) or create an app shortcut in order to access the settings?

Thanks

[2014-01-18 20:41] ksya opened #96 "Opening Google Calendar with header title always opens day-view"
Clicking the header titel does not open the latest view, but always the day-view. I prefer to have the header just open the app, not go to the day-view. This, because I have the Google Calendar app set on week-view normally and don't like other views.

Maybe it's best to set is as option.

[2014-01-19 09:31] mpost opened #97 "Reduce vertical padding so that less space is wasted at the top and bottom"

[2014-01-19 09:32] #97 closed, assigned to mpost

[2014-01-22 10:18] chriscamacho opened #98 "wasted space"
While I appreciate this is a bit marmite (love it or hate it)

I think there is a lot of wasted space the date could be with the indicators and there still be enough room, especially if the date used 3 letter days of week and month abbreviations.

Because this might not be everyones cup of tea a default off for compact mode in settings might be good

[2014-01-23 22:49] mpost opened #99 "Tomorrow and today not shown anymore on date header"

[2014-01-25 12:07] #99 closed, assigned to mpost

[2014-02-06 19:16] mamandell opened #100 "Manual resize option"
Widget refuses to be resizable on Galaxy SII.  It would be great if there was some kind of "advanced" option to manually set the size.  Alternatively, an option so that it would size itself as full pane by default.

[2014-02-20 09:38] digitaltopo opened #101 "Open Multiple Instances of Calendar Widget"
Is it possible to open multiple instances of the widget and have them configured to display different google calendars?

I would like to have separate widgets for displaying specific calendars on each. Right now if I change the calendar settings, they apply to both instances of the widget.

Thanks!

[2014-02-20 09:45] #101 closed, assigned to nobody

[2014-02-28 10:47] HHest opened #102 "Abbreviated Month and Weekday display"
Would it be possible to add FORMAT_ABBREV_MONTH and FORMAT_ABBREV_WEEKDAY to the formatDateTime calls, please?  Thank you.

[2014-03-02 19:11] HHest opened #103 "Always use system format instead of choice am/pm/24h"
This is with regard to the "Date Format" config screen. Especially now that FORMAT_12HOUR/24HOUR are deprecated, I think the widget should just use the system default to setup the hour format.

The widget can reuse the "Date Format" screen to select choices for full/abbr date format.

[2014-03-06 08:42] HHest opened #104 "Header has inconsistent calendar activation behavior"
If I click on the date in the header, the app would open aCalendar, the calendar app I use.  This is the desired behavior.  However, if I click on the "+" symbol, it opens the built-in calendar instead.  Thanks.

[2014-03-22 18:11] naalimeza opened #105 "calendar dates and widget dates do not match"
I love this widget but I noticed that the widget lists my events a day after the actual date I have in my calendar. I tried adjusting the time zone and other settings but is not working. I have the Sony xperia

[2014-03-27 12:24] erenoglu opened #106 "Don't limit location to 1 line"
I have many meetings on conference calls and people generally write very long sentences before they actually write the bridge code.

With current implementation I can't see those bridge codes without first opening the calendar app.

So if we had an option to not limit the location field to one line and let it wrap to multiple lines then I could see my audio bridges without needing to open the cale

[2014-03-27 12:26] erenoglu opened #107 "Location field font selection"
Location field is very important for me as I use it to dial to my meetings. The dialing bridge code is stated there.
Now it is shown in small font and in a faded color.  It is very tough to read easily.

The would be good if we could choose the font size and color.

[2014-04-12 12:20] mpost opened #108 "Update translations with contributions from crowdin"

[2014-04-12 12:27] #108 closed, assigned to mpost

[2014-04-13 08:07] mpost opened #109 "Norwegian translations are not showing for the user"
The file for Norwegian translations has to be placed in the folder "values-nb-rNO".

[2014-04-13 08:07] mpost opened #110 "Add user contributed Korean translation"

[2014-04-13 08:10] #109 closed, assigned to mpost

[2014-04-13 08:10] #110 closed, assigned to mpost

[2014-04-16 11:31] #104 closed, assigned to nobody

[2014-04-16 11:42] HHest opened #111 "Multi-day all day events should continue to be visible when "Fill all day events" is off."
I don't particularly like the "Fill all day events" feature, as it puts an entry for each day of an all day event.  I prefer seeing only one entry.  However, in this mode, when the 1st day is past, no entry appears for the remaining days.

As long as the event is going on, it would be better if an entry remains for "Today".  For example, let's say I have an all day event that covers Saturday, Sund

[2014-04-18 15:39] jwalantsoneji opened #112 "All day events on a given day from the same source should be sorted by alphabetically"
Is it possible to sort events by title?

[2014-04-25 07:21] katuddi opened #114 "Show the age in Birthday and Anniversary entries"
Is it possible to show the age the person reaches beneath the birthday entry in the calendar?

[2014-04-25 11:07] #114 closed, assigned to nobody

[2014-05-16 18:40] #51 closed, assigned to nobody

[2014-06-03 00:57] geckocavemen opened #116 "All-day events for current day disappear in the evening"
At about 8:30 pm I noticed that two all-day events for today have disappeared from the widget.  They were there earlier and are still in my calendar so I can only assume that after a certain time in the evening the widget will no longer display all-day events for the current day.  It should display current all-day events until 11:59 pm.

[2014-06-10 03:47] mjt543 opened #117 "All-day events and other to-do items shifting to previous day"
I have noticed that in the widget view all-day events (OEM calendar app) as well as to-do items(Tasks &  Notes Sync) end up shifting to the day before they are scheduled. When viewing these items individually in their respective programs, the scheduled/due dates are correct.

[2014-06-10 08:17] #117 closed, assigned to nobody

[2014-06-11 03:52] mjt543 opened #118 "Overdue task view in widget"
I use Task & Notes Sync for MS Exchange to sync tasks and appreciate that the app works with Calendar Widget. I wondered if there's a way of incomplete tasks remaining in the widget in an Overdue view, or if that might be a possible feature considered for a future update. Thanks!

[2014-06-18 19:39] frangio opened #119 "Background color wrong in color picker window"
Each time the color picker window opens to choose a background color, the color shown as the current one isn't actually the current one but a slightly (0.05?) brighter one.

[2014-06-20 10:47] endrepalinkas opened #120 "Manual instant sync"
Oftentimes I update the calendar (either by adding an event on the phone, or syncing with Exchange), then I worry about the new event not appearing in the widget. It's there in the calendar, but not in the widget UI yet.

Usually the widget gets the updates in a minute or so. But right now for example, I added an event which is over 1 month in advance, and it's still not there, after waiting about

[2014-06-24 21:35] mjt543 opened #121 "Task & Notes App integration"
I have discovered that Tasks & Notes is no longer integrating with Calendar Widget. I cannot determine from which end the interruption originates, but I have brought the issue to the attention of the Tasks & Notes app as well.

Thanks,
Michael

[2014-07-09 16:49] rosenbergj opened #122 "show events that ended in past X hours (configurable)"
I generally want to be able to see recently-ended events, but in this widget, they disappear as soon as the ending time is reached. I'd like to be able to configure the widget such that events don't disappear until X hours after they've ended. (Another widget lets you show events until midnight of the day they take place, which would also work for me; my events tend not to end immediately at midni

[2014-07-17 07:52] fglueck opened #123 "Multiday events shown every day"
Is it possible that a event with is every day only shown onetime in the widget with enddate. At the moment it will shown every day. so you have no overview at the widget

[2014-07-20 08:43] asturnauta opened #124 "Highlighting the current day"
It would be great to can configure a diferent colour for 'today events' and difference them to the future events.
For example i would like to configure today events in red colour to easily see today events.

[2014-07-23 17:06] denilsonsa opened #125 "Show "empty" days (days with no events)"
It could be interesting to have a setting to display days that have no events.

For instance, suppose that my next event is 4 days from now. Currently, that event shows right after today. My proposal would make the widget show today, tomorrow, the day after, yet another day, and then the day with the event. Showing such "empty" days is useful because it gives a visual sense of how far away the eve

[2014-08-05 07:25] yvolk opened #126 "Add a notion of "completed" Calendar event"
I always felt that there is a lot of duplication between a "Calendar event" and a "Task", so I used to have "Calendar event" for both + plus marking event as  "Completed" somehow (and being able to distinguish completed events from incompleted).

Previously I used Jorte Calendar application, which has such a feature: the app simply appends "[C]" to the event's subject to mark completed events. And

[2014-08-07 17:36] ibex-are-goats opened #127 "Bug: Product name is "Calendar", but the product is actually an agenda"
A calendar commonly shows the current Gregorian month. This product seems to show an agenda of the next few days.

Solution: Rename project to "agenda-widget", or add a calendar.

[2014-08-09 12:57] #127 closed, assigned to nobody

[2014-08-09 13:00] #93 closed, assigned to nobody

[2014-08-09 13:55] mpost opened #129 "Add widget directly without showing configuration screen"
I was thinking if it would make sense to directly add the widget when the user places it on the home screen. Thereby the user would see the widget directly and wouldn't need to figure out what the config settings are all about since he has never seen the widget before.

What do other people think?

[2014-08-09 13:58] mpost opened #130 "Add traditional Chinese translation"

[2014-08-09 13:58] #130 closed, assigned to mpost

[2014-08-09 13:59] mpost opened #131 "Add finish translation"

[2014-08-09 14:00] #131 closed, assigned to mpost

[2014-08-10 09:44] paul4ig opened #132 "Open calendar when "no upcoming events" is tapped"
I have the widget header hidden (another widget on my home screen shows  me the date so I don't want the clutter of duplication). Unfortunately,  that means that I can't easily tap on the widget to get to my Calendar app.

Could you please add a feature whereby I can just tap on the "no upcoming events" text to access the calendar?

[2014-08-10 20:21] ghost opened #133 "A calendar done with "Offline Calendar" is not recognized"
Hi.

I am running under CyanogenMod 10.2 (Android 4.3). I do not have Google services. I use the version 1.8.5 from F-Droid.
I have done a calendar with events with "Offline Calendar". https://sufficientlysecure.org/index.php/android-apps/#offline
There is nothing in the widget. Moreover in "Parameters" > "Calendars", there is nothing.

Thanks.

[2014-08-12 20:58] zehawki opened #134 "Mention number of days till event"
I've found it to be quite useful to know how many days are there till a particular event occurs!

[2014-08-12 20:59] #134 closed, assigned to nobody

[2014-08-14 08:06] DasExperimentator opened #135 "Add Touchdown calendar support"
It would be great if the Calendar Widget could display calendar appointments from Touchdown (an app for MS Exchange synchronization). At the moment there are only a few widgets that are able to access Touchdown calendar:
- Agenda Widget - at the time of opening this ticket, the Agenda Widget is not updated for quite some months and does not work in Android 4.4.
- Pure Calendar Widget - this one is

[2014-08-17 13:05] yvolk opened #136 "Invitations indistinguishable and Declined events are not shown"
Google calendar allows to send invitations to events (for organizers) and RSVP to an event (for attendees), see e.g. [RSVP to an event](https://support.google.com/calendar/answer/37135?hl=en).
Calendar-widget currently has two problems:
1. It doesn't show User's "Self attendance status" (see Issue #73). In particular, Invitation, received from another party, (and not responded yet by a User) is no

[2014-08-17 22:30] mjt543 opened #137 "Support for TaskSync for Exchange"
Have you considered supporting TaskSync for Exchange:

https://play.google.com/store/apps/details?id=de.cranktheory.android.tasks

Tasks and Notes for MS Exchange recently surprised users if its free app with a $10 license fee, and TaskSync is what I used before I started using your Calendar Widget, but switched to Tasks and Notes it wasn't an app your widget supported.

[2014-08-23 12:11] yvolk opened #138 "Show past events of specific color(s)"
As I wrote in #126 "Add a notion of "completed" Calendar event", I'm searching for a way to see past events, which require my attention. E.g. events, which are not "Completed", not "done" or something...
As these things ("notions") are not natural to Android calendars (including Google Calendar app), adding them only to a Widget will be a partial solution. So I decided that we may achieve the same

[2014-08-23 12:15] #126 closed, assigned to nobody

[2014-08-31 09:17] Ohems opened #139 "Add option to show all-day events with a colored background"
I like the way how the default Google calendar shows all-day events with a background color that matches the corresponding calendar color. Some all-day events like the week number would be easier to spot. Now they look like serious events and draw away your attention. I wouldn't want to remove them from my calendar as they are still useful information to me.

If this is implemented, one should als

[2014-09-10 22:38] arghness opened #141 "All day events don't show for the current day"
Version 1.8.5

eg an all day event on the 12th will show on the widget on the 12th when the current date is the 11th but when the current date is the 12th it disappears and can only be seen when clicking through to the calendar app.

[2014-09-12 04:57] dalcde opened #142 "[Feature Request] Display time above calendar"
It would be great if the current time can be displayed above the calendar, which makes it a more viable option as a lockscreen widget, as the lockscreen only allows a single widget.

Even better, allow multiple "world" clocks.

[2014-09-18 15:43] AnyoneThere opened #146 "All day event issues"
I entered a birthday as an all day event.  The date was set to only that date. When I saved it, it saved it for that date and the next date.  When I modify that event (selecting that event and all others), I get duplicate events occurring; that cover both days.  Currently, my screen has 4 bday events on one day and 2 on another for the same birthday.

[2014-10-06 21:51] denilsonsa opened #148 "Crashes if a calendar is deleted"
1. In your web browser create a new calendar (in https://www.google.com/calendar/ ).
2. Sync this new calendar to your Android device.
3. Configure this calendar in _Calendar Widget_.
4. Go to https://www.google.com/calendar/ and delete that calendar.
5. _Calendar Widget_ will now keep crashing on the device.

You might want to add some delay (like, waiting a few days) between those steps. But, es

[2014-10-21 01:18] ktaragorn opened #149 "On Click behavior not consistent"
Clicking the header opens system calendar, while clicking an event opens the default calendar I think (business calendar). Should be consistent, and configurable

[2014-10-21 03:25] ktaragorn opened #150 "Feature request: Ability to choose calendar app and to just open it"
My personal preference is for any click on the widget to just open my third party Calendar app Business in the default Month view. Perhaps a new "Click Behavior" settings panel to control this

[2014-10-29 07:42] allanlaal opened #151 "Allow to hide individual calendar events"
use case: i use my facebook accounts events calendar and other remote calendars quite heavily. as you know its not possible to hide or delete events from remote calendars. this means that i sometimes have a full screenful of recurring and normal events which I'm not attending. This means i cannot see todays agenda with a glimpse, which is kinda the whole point of this app :)

i would be fine with

[2014-11-04 22:21] antonypavlenko opened #152 "Incorrect time for Russia timezones (MSK)"
Hello.
First of all thanks a lot for calendar widget. It is really great and useful.
Last week Russian government changed time one more time. So clocks is switched one hour back.
And all events in calendar widget now 1 hour ahead.
I have tried to check that this is not a android problem, and looks like it isn't: by default there is 2 calendar widgets (as I understand one from Google and one from H

[2014-11-09 09:44] VMIC92 opened #154 "The horizontal lines are misplaced"
Hi,
Actually, the horizontal lines separate the day from the event of this day. That generates a bad comprehension of the association beetween the day and his event. Beetween two lines we have an event and the date of another. It will be better to place this horizontal line to separate the pairs day-event from each to others.
Thanks in advance.

[2014-11-17 19:22] fredphoesh opened #155 "Default calendar for new event"
Hi,
By default the widget is choosing a calendar that is not my main calendar.... So it would be good if one could set a default calendar for new events.

[2014-11-22 01:37] robssp opened #156 "Add a "Today" option on "Date Range"."
Hi,
I love this Calendar Widget. Thanks for the great job!
I´m wondering you could add na option "Today" in "Date Range". There are "One Day", "One Week", etc., and just "Today" would be very usefull.
Thanks and regards from São Paulo, Brazil,
Robson

[2014-11-29 16:10] HarKoT opened #157 "Preferences menu doesn't appear"
When I add a new widget, I can't see the menu to access the preferences.
I've tried with both Nova and Trebuchet.
This is on a Samsung Galaxy S4 (i9505) running Android 4.4.4

![screenshot_lowres](https://cloud.githubusercontent.com/assets/10000859/5235042/4b3e5176-77e2-11e4-88fe-1ce5e51e2219.jpg)

[2014-11-29 17:23] #157 closed, assigned to nobody

[2014-12-10 09:00] vmeriau opened #158 "Can't access google calendars from limited user"
Hi,
First, nice job guys !
I know my Android Lolipop don't allow access to calendar from a limited user but...
What if, for children, we could give a read only access to parents calendar.
Have you ever think about it ?

Thank you

Vince

[2014-12-15 22:21] AnyoneThere opened #159 "Recurring events disappeared"
My reoccurring events were showing on my calendar until one of two things happened. Either I changed the reoccurring event to a different calendar name ('My Calendar' to 'BNI Calendar').  BNI Calendar is selected to be displayed on the calendar.  Or, from removing a couple of instances of the event because it occurred on the same day as Thanksgiving, Christmas and New Years.   For whatever reason,

[2015-01-14 16:35] yvolk opened #160 "Calendar-widget development stopped - Call for a maintainer"
As you may see in the commit history, the last changes to the Widget itself were made on 2014-08-09 - almost half a year ago.
The application has feature requests and even pull requests (proposed implementations of new features), which are laying in the dust and discourage future development of this beautiful application.

I think the time came for a new supporter to take this project over. So ple

[2015-01-18 08:37] mpost commented on #160
Thanks for opening this issue @yvolk.

As the sole maintainer of this project, recent developments have staled a bit since i had very little time to work on the project. The widget itself is very near to my heart as i use it daily and am quite pleased with the feature set it offers for my daily activity. The feedback and download numbers of the widget are very pleasing so, keeping it dormant shoul

[2015-01-18 09:46] jkufner commented on #160
Or the calendar widget is finished and there is nothing more to do :)

[2015-01-18 10:02] mpost commented on #160
@jkufner Well, my requirements are meat. :) But in fact we receive a few emails a week of people asking for more features. So there is a clear user interest. Of course not every request could and should be fulfilled.

In addition, the download numbers of the widget indicate quite a success.
Searching for "calendar widget" places this project neatly at number 2. of the search results: https://play.

[2015-01-18 10:31] jkufner commented on #160
You should forward them to issue tracker to create feature requests
(with feature request label) for further discussion. Maybe someone will
implement it.

[2015-01-18 10:38] mpost opened #161 "Improve support for Android 5.0 (Lollipop)"
While the app works without a problem on Android 5.0 (Lollipop) we could base the preferences ui on the Lollipop Material theme so that it looks more in place on 5.0.

[2015-01-18 10:39] #161 closed

[2015-01-18 10:49] #129 closed

[2015-01-20 19:53] mpost commented on #160
While it would still be great to have a new maintainer of the project, i just released a new version of the widget to the play store. :)

1.8.6 is life https://github.com/plusonelabs/calendar-widget/releases/tag/v1.8.6

[2015-01-21 15:55] yvolk commented on #160
@mpost Do I understand correctly that that's all from your side?
I mean discussing pull requests, which wait since last summer etc. - will be "next maintainer's" work?!

[2015-01-21 16:53] mpost commented on #160
@yvolk Dealin with pull requests is quite a lot of work. Also some of the features surpass the scope of the widget (from my point of view) so its hard to tell the people that they won't make the cut. But i'll go over them and leave comments.

[2015-02-13 16:42] jondo opened #162 "Please update the changelog"
Could you please update the changelog in `README.md`? We are going to link to it in F-Droid.

[2015-02-13 16:47] jondo commented on #162
Ah, I see that you are describing the releases [here](https://github.com/plusonelabs/calendar-widget/releases) now. So maybe the `README.md` should just link there?

[2015-02-13 17:18] mpost commented on #162
@jondo Thanks for pointing that out. I have updated the changelog with the details of the 1.8.6 release.

[2015-02-13 17:18] #162 closed

[2015-02-15 10:20] yvolk commented on #160
@mpost After rereading our conversations about [my proposed enhancements](https://github.com/plusonelabs/calendar-widget/issues/138) to the "calendar-widget", I see that what I proposed is really out of the scope of what _you_ think this application is about. Thank you for giving me a clue :-)
So I decided to [duplicate, rename the repo](http://programmers.stackexchange.com/questions/188480/what-i

[2015-02-16 09:00] mpost commented on #160
@yvolk I am happy to hear that you are so interested in the calendar-widget. Keeping the project going is great. While you could of course fork the project, i would much rather make you a commiter here so that this project can fruition in the future.

I would help you to publish releases to the play store while you could add features, basically making you the maintainer of the project. Would that

[2015-02-16 11:22] yvolk commented on #160
@mpost I cannot promise my constant involvement in this project (and thus taking a "maintainer" role from You :-) ), but I really can take care of some enhancements including their development, testing and release preparation.
In fact, I did this already in my #138, excluding only version change in a Manifest and release notes in a changelog... I can do that also, so in order to have a new release

[2015-02-17 13:23] eric-jahn opened #163 "hide duplicate events on the same day"
I have added third party calendars that contain the exact same event as one in my calendar (all details are the same).  I would like matching events on the same day to be removed from the calendar that is not my main calendar, so I only see it once.

[2015-02-17 13:50] jkufner commented on #163
Which color shoud such event have?

[2015-02-17 15:29] eric-jahn commented on #163
It would be the color of the default calendar. Thanks Eric
On Feb 17, 2015 8:50 AM, "Josef Kufner" <notifications@github.com> wrote:

[2015-02-21 15:31] nvx2004 opened #164 "[Feature Request] Condensed font + thinner calendar colour strips"
(1)  It would be great if condensed font was used for the dates, event names, etc.

(2)  The colour strips that indicate the respective calendar colour could be much thinner (ca 1/3 to 1/4 of the current width seems just right for a condensed font).

Thanks for considering these suggestions.

[2015-02-23 12:23] yvolk commented on #160
@mpost So, what or whom are we waiting for? :-)

[2015-02-23 18:12] mpost commented on #160
@yvolk Yeah my fault. :) To simplify your life i will make you a commiter i suggest. I would than forward all the mails that come in for the calendar widget to you. Okay? :)

[2015-02-23 18:53] yvolk commented on #160
@mpost   I do receive email notifications on the issues already. Private  emails are not efficient, I don't think we have time to answer each of them...
Thank you for a commiter permission.

[2015-02-25 13:06] mpost opened #165 "Calendar widget does not appear in list of widgets"

[2015-02-25 13:08] plusonelabs commented on #160
@yvolk You are now a collaborator on this project. Welcome on board. :)

To keep you in the loop of user feedback we should forward user mails to you as well. No need to answer them all but it is good to see what people request (and complain about). Please send an e-mail to plus1labs@gmail.com indicating what mail address we should forward to.

So just to give you a rough idea... There are two iss

[2015-02-25 18:46] chunte commented on #120
I do face this little nagging issue. It does take a while for the widget to update, seems random to me...

[2015-02-27 19:09] yvolk commented on #160
@plusonelabs Thank you, it works! I couldn't resist starting from merging commits, authored last August. Looking at a result today I see that it needs more changes to improve UX; will do them.

As you asked, I created special email address to forward user mails on this application and sent the email to you. No mails so far :-)

I will definitely look at the issues you mentioned.

[2015-02-28 05:47] yvolk commented on #165
Currently this looks like incompatibility with some Android version or with a device Model.
If you have the same problem, please post your device "Model number" and "Android version" here (the information is here: Settings -> About phone -> "Model number" / "Android version")

[2015-02-28 12:23] p-k-h commented on #146
Installed on: Samsung Galaxy Tab 4, Galaxy S5 Mini. Android 4.4.
Accessing a full day event from this widget and viewing the event in Samsung's calendar app, it shows the starting date a previous one as it is a two day event.
When editing this and saving, the starting date is changed to a previous, and it has become a two day event. Then if repeating this, it changes the starting date again to pre

[2015-03-01 20:19] mwoffenden opened #167 "Feature request: isplay event time above event description"

[2015-03-02 17:01] yvolk commented on #167
It depends upon what's more important for you, I think :-)
Actually we really need to have more than one "layout". I'm thinking about compact  layout without date headers and relative numbers of days in the first column instead of actual dates (-2, -1, 0/today,  1, 2, ...)

[2015-03-03 08:06] erolfox commented on #165
No widget on Nexus 5 lollipop

[2015-03-04 19:10] yvolk commented on #165
I tried this on an Emulator, selecting Nexus 5 + Lollipop virtual device, installed the latest published version of a Calendar-Widget (1.8.6) - and I do see the widget in the "Widgets" list, see a screenshot below.
![scr-nexus-5-lollipop](https://cloud.githubusercontent.com/assets/207716/6490970/1e35bec0-c2bb-11e4-9fc0-53875dc0da6a.png)

[2015-03-04 21:01] erolfox commented on #165
Wow! I see it note too.
I rebooted yesterday. Maybe that made it show up? Could explain the other folks seeing this behavior.
Thanks Yuri!
On Mar 4, 2015 11:10 AM, Yuri Volkov <notifications@github.com> wrote:I tried this on an Emulator, selecting Nexus 5 + Lollipop virtual device, installed the latest published version of a Calendar-Widget (1.8.6) - and I do see the widget in the "Widgets" list,

[2015-03-05 07:05] erolfox commented on #165
Yes, that's it. Tested on my tablet. A reboot is required for the widget to show up . Strange
On Mar 4, 2015 11:10 AM, Yuri Volkov <notifications@github.com> wrote:I tried this on an Emulator, selecting Nexus 5 + Lollipop virtual device, installed the latest published version of a Calendar-Widget (1.8.6) - and I do see the widget in the "Widgets" list, see a screenshot below.

—Reply to this email

[2015-03-06 14:08] yvolk commented on #165
This is sort of Android platform "feature", see e.g. http://stackoverflow.com/questions/6024025/android-appwidget-does-not-show-up-in-the-menu-in-honeycomb-until-reboot
For now I've added android:installLocation="internalOnly" to manifest only, as suggested in a solution.
Next time, when I will encounter this behavior, I will try to launch "Calendar Widget" activity from Android "Apps" - this shou

[2015-03-06 16:42] mpost commented on #165
The referenced so post looks rather old but if the internal flag helps I am all for it.

[2015-03-08 00:22] mjdetullio commented on #165
Can confirm, was not showing up for me today after installing, so I rebooted and that fixed it.

Tested on 2014 Moto X, Android 5.0, Google Now Launcher

[2015-03-08 14:35] yvolk commented on #165
@mpost Yes, that posts are old, and corresponding Android bug is marked as "obsolete". I saw the same problem in another application in Android emulator v.4.4, but later it looks like something was fixed in emulator (and in Android core).
And now it reappears in Android v.5 ?!

[2015-03-10 16:30] yvolk commented on #120
My experience shows that the delay in the "natural update" of the event list is caused by underlying Calendar application itself. Recently I noticed the same problem inside Google Calendar: looking in its own Agenda screen, I changed one event but didn't see any changes in the Agenda until I returned to the Home screen and reopened the Calendar.

I think a dedicated "Refresh" button will really he

[2015-03-13 20:07] erolfox commented on #165
Bug and workaround:
A reboot is required on lollipop to have the widget appear in the list of widgets.

[2015-03-13 20:12] eturk1 opened #169 "font: request to use lollipop home screen font"
Please update to check font used for home screen icon labels and use that font.
Could make that an option check box to give flexibility.

It looks very strange having two fonts on a home screen. Lollipop uses a new clean narrow font

[2015-03-13 22:44] allanlaal commented on #122
past events could also be greyed out or be more opaque

[2015-03-16 20:33] libor-m opened #170 "Dragging the widget to the edit location opens app settings."
Widgets can be dragged to the top of the screen, where there are 'Edit' and 'Remove' icons. When dragging calendar-widget, the edit icon is disabled. It should be enabled, and open the app settings on drop (which could be helpful in case of hidden widget header bar).

[2015-03-17 05:31] yvolk commented on #170
What Android version your device has? What is a model? What Launcher application are you using?

[2015-03-18 14:21] libor-m commented on #170
Android 4.4.3 in HTC one m7. The default launcher, don't know where to find
the name:)
On Mar 16, 2015 10:31 PM, "Yuri Volkov" <notifications@github.com> wrote:

[2015-03-18 16:51] yvolk commented on #170
@libor-m Calendar-widget does have a Widget Configuration Activity,  which is not compatible with your Launcher for some reason.
Do you know any OpenSource widget, which works on your phone as you expect?! We could look up there...

[2015-03-22 07:56] yvolk commented on #163
1. Searching in the Internet shows that Android doesn't have a way to explicitly set any calendar as a default one. So, in order not to overcomplicate the task I would suggest showing attributes of the first event from the list, returned by a Calendar provider.

2. As nobody raised the problem so far I guess no additional option is needed: duplicated event may be hidden by default.

?!

[2015-03-22 08:43] #138 closed

[2015-03-22 08:45] yvolk commented on #163
#155 Also mentions a need for the "Default calendar". Maybe we should introduce such at least inside our Widget?!

[2015-03-22 12:23] eric-jahn commented on #163
Oh, sorry, by "default", I meant the event calendar of the user that is
currently logged in and whose calendar is being shown.  If there are
duplicates amongst other calendars that aren't the user's event calendar,
those should just be displayed.  What happens is that I invite coworkers to
events, and we also share calendars.  So, I'll create a single event,
invite them, and see it repeated over a

[2015-03-23 06:11] libor-m commented on #170
I'm not using many widgets, so I'm not aware of any oss that would work. The only thing I found is http://stackoverflow.com/questions/11180671/re-configure-an-existing-appwidget, and it's not very helpful. I didn't know that the 'edit' button is not a standard android thing, sorry for that.

[2015-03-23 18:44] yvolk commented on #170
Thank you for information, very interesting.
BTW, in a case of a hidden header bar you can configure the widget launching "Calendar Widget" application in a list of applications.

[2015-03-23 18:44] #170 closed

[2015-03-31 19:48] foszor commented on #120
I came here to request this feature for the exact same reasons. Please add a refresh button.

[2015-04-02 06:18] yvolk commented on #120
@foszor Do you mean another button on a Widget's header?
Or (and?) a separate "Refresh calendar" widget?

[2015-04-02 06:20] foszor commented on #120
@yvolk on the header would be perfect. Next to the "+" for adding events.

[2015-04-02 10:26] endrepalinkas commented on #120
I agree with @foszor , next to the "+" would be great

[2015-04-05 09:44] #120 closed

[2015-04-05 09:50] yvolk commented on #120
I added refresh button to a Widget header, using icons from Android icon pack. I have to remove opacity from them though to look as existing icons on the header.
![refreshbutton](https://cloud.githubusercontent.com/assets/207716/6996457/607feb3a-db92-11e4-915c-1ba14bca8ced.png)

[2015-04-05 09:54] endrepalinkas commented on #120
Thank you!

[2015-04-08 11:33] omarmir opened #172 "Add button to initiate maps app with address of appointment"
Essentially would like to see a small icon on the right hand side of events that if clicked would start my mapping application (google maps in my case) with the address specified in the event as the destination.

[2015-04-10 05:34] yvolk commented on #122
@allanlaal We recently added "Past events background color" option (to be released yet)

[2015-04-10 07:01] yvolk commented on #122
@rosenbergj @mpost @allanlaal For consistency and simplicity I think we better have a list of predefined values. What exactly values may be needed?

So the name of the new option,  located in "Event filters - Past events" will be: "Show events that ended some time ago"
I would start from these values:
1. "(this option is turned off)" - just like for another option: "Show past events with color"
2.

[2015-04-12 17:02] yvolk commented on #156
Hi @robssp, implemented in the latest commit, please check.

[2015-04-17 18:49] mabahj opened #173 "Feature request: Week numbers"
First - great widget! It is perfect for my needs.

It would be even better if it could optionally show the current week numbers. It could maybe fit to the right of the current day and date. Note that there are a couple of different numbering schemes (https://en.m.wikipedia.org/wiki/Week_number#Week_numbering)

[2015-04-17 18:50] mabahj commented on #173
I should also have added a thank you(!)  for making this widget.

[2015-04-18 10:21] yvolk commented on #34
Implemented in v.1.9

[2015-04-18 10:21] #34 closed

[2015-04-18 10:21] #156 closed

[2015-04-18 10:22] yvolk commented on #122
Implemented. Now "Event Filters" preferences screen looks like this:
![scr-event-filters](https://cloud.githubusercontent.com/assets/207716/7215054/f0a0cfaa-e5cd-11e4-8717-3c3ba734c471.png)

[2015-04-18 10:22] #122 closed

[2015-04-18 11:05] mpost commented on #122
I like this feature. One suggestion regarding the wording. I would remove the part ". Or turn this option off".

[2015-04-24 03:13] yvolk commented on #125
Duplicate of #34, implemented in v.1.9

[2015-04-24 03:13] #125 closed

[2015-04-25 04:37] yvolk commented on #152
As a followup to this story: recently I update my Sony XPeria to Android 5 Lollipop, and I noticed that now sometimes even day headers started to show wrong date.
This was solved by updating Joda-Time library to v.2.7

[2015-04-25 04:41] yvolk commented on #152
Generally, I see that the problem was not completely solved yet, because it shows, when Time zone table in Joda and in Android firmware differ!
As [Joda-time](https://github.com/dlew/joda-time-android) is updated quicker than Android firmware, we should refactor our code to use Joda Time Zones even to present dates (now we use Android core for this this is why I noticed the problem in my updated x

[2015-05-19 03:34] mark-tan opened #174 "Add option to hide event color"
each event on the widget has a bar on the left that shows the event color. please add the ability to hide that. thanks!

[2015-06-04 15:28] Mahnas92 opened #175 "Option to keep passed current day events in the widget view."
Add a customization option to make calendar events disappear on the end of the day they ended instead of the time they end.

[2015-06-04 17:06] mpost commented on #175
This feature is coming in the next update. Please stay tuned.

[2015-06-04 17:08] Mahnas92 commented on #175
Nice!

[2015-06-17 23:11] earthsound commented on #32
This WFM with version 1.8.6 on a Galaxy S4.

[2015-06-28 13:20] kemelzaidan opened #176 "Cannot add on lollipop"
I have the app installed but just can't add it to the home screen since it does not show on the widget selection window

[2015-06-28 14:17] yvolk commented on #176
Please see #165

[2015-07-01 18:28] FredAntoun commented on #175
That will be great.  I guess I'm not the only one that doesn't do everything on time each day!

[2015-07-06 17:40] kemelzaidan commented on #165
Confirmed on Motorola XT1078 (Moto G second Generation with 4G LTE) with Lollipop 5.0.2

[2015-08-04 12:49] maiser2011 commented on #79
Definitely a nice feature to have.  Would like to see it available.

[2015-08-04 12:52] maiser2011 opened #178 "Visually emphasize "Active events""
Would like to have an option of having active events show in a different color and/or size text.

[2015-08-04 13:07] maiser2011 commented on #164
I agree

[2015-08-04 13:09] maiser2011 commented on #124
Current day events could have option to be shown in bold or italic font to distinguish from other day/s events.

[2015-08-04 14:22] maiser2011 opened #179 "Calendar Color Selection"
Would like better, more detailed options for changing individual calendar colors. Right now there are only a limited number of options with no options for variations of colors, i.e. lighter/darker, mixed colors, etc.

![image](https://cloud.githubusercontent.com/assets/13642835/9062784/17666b8e-3a8a-11e5-8580-c9c511ab6175.png)

[2015-08-04 16:47] yvolk commented on #179
We are reusing existing component for color selection: https://github.com/LarsWerkman/HoloColorPicker
Do you know anything free and better?

[2015-08-04 16:58] yvolk commented on #178
Do you call "Current" events (Now is between their Start and End times) "Active"?

BTW in the upcoming 1.9 release we will have custom color for _Past_ events.

[2015-08-04 16:59] mjt543 commented on #179
I use an app called "Set Calendar Colors" by One Rainboot Studios to alter the display color for all my calendars in the widget and the stock Android calendar. It also allows me to set the color for other items like those in the Tasks & Notes app that I have integrated with the widget. However, I could not find it in the Google Play Store for some reason to provide a link.

Date: Tue, 4 Aug 2015 0

[2015-08-04 17:01] maiser2011 commented on #178
Yes. Anytime the current time is between items start and end time that item could be highlighted by a different font color or in bold text.

On August 4, 2015 11:58:23 AM CDT, Yuri Volkov <notifications@github.com> wrote:

[2015-08-04 17:07] yvolk commented on #179
It doesn't look like Open Source or easily integrated with other applications (especially because this is a separate application...)
I think you may try to persuade the author of existing https://github.com/LarsWerkman/HoloColorPicker component to improve it, so our Calendar widget will benefit from this :-)

[2015-08-09 13:31] maiser2011 commented on #116
Birthdays that should show until 11:59pm disappear around 8:00pm. The birthdays are from the Google Contact's Birthdays. The time zone is US Central Time.

[2015-08-10 06:06] yvolk commented on #116
@maiser2011 "Events that ended recently" option that is implemented in upcoming v.1.9, will allow you to see such events.

[2015-08-11 14:39] maiser2011 commented on #116
Will version 1.9 be released soon?

On August 10, 2015 1:06:03 AM CDT, Yuri Volkov <notifications@github.com> wrote:

[2015-08-16 11:06] ffes opened #181 "Support shared calendar with "See only free/busy (hide details)""
There is a Google calendar shared with me that I am only allowed to see the status of appointments, without any the details. In the [web calendar](https://www.google.com/calendar/) choose "See only free/busy (hide details)" when sharing the calendar.

All the events of that calendar are shown in the widget as "(No title)".

The official Google Calendar (both web and app) show "Busy" or "Free" as t

[2015-08-19 19:57] anthraxn8b opened #182 "Using CalDAV - No widget sync. after calendar sync."
When CalDAV syncs my calendar the widget is not updated.

[2015-08-21 11:46] mpost opened #183 "NPE when filtering list of events"
As reported on Google Play developer console

[code]

[2015-08-21 11:51] ffes opened #184 "Multiple day events show as inactive"
I have a single multi day event, let's say from Monday till Friday, in my calendar. On Tuesday it is shown as a inactive event on Monday **and** as an active event on Tuesday. On Wednesday it still shows as an inactive event on Monday and as active on Wednesday, etc, etc. For event longer that a couple of days, like a period of vacation for our scholar son, it will show up as inactive on the start

[2015-08-21 21:06] dcanl commented on #184
Same problem here!

The bug appeared since last update (installed 30 minutes ago), which introduced the "show events that ended recently" feature.

For now, best thing I found is to tick this new functionality, and to untick the option which adds an entry on every day for a multiple day event. Not 100% satisfying, but better than double entries.

Please, correct the bug! :-)

And thanks for your w

[2015-08-23 06:46] yvolk commented on #183
Fix pushed to repository.
It's interesting, how many such crash reports you've got so far?

[2015-08-23 08:14] mpost commented on #183
Currently there are 13 recorded crashes in the play console.

I have checked your fix. I wonder why the query would ever return `null` but the docs also state that this can happen.

[2015-08-23 08:15] mpost commented on #184
We are aware of the issue and working on a fix for the upcoming 1.9.1 release. Please stay tuned.

[2015-08-23 08:17] mpost opened #186 "org.joda.time.IllegalInstantException when creating calendar event"
As reported in the Google Play Store. The issue has been existing in the 1.8.x release as well but continues to appear in 1.9.x.

[code]

[2015-08-23 08:19] mpost opened #187 "ConcurrentModificationException when updating event list"
As reported in the Google Play Store. The issue is new in the 1.9.x release.

[code]

[2015-08-23 11:50] yvolk commented on #183
Yes, I looked up source code of another application: AndStatus, and I see that check for null cursor is present there also... so this really happens sometimes or on some devices...

[2015-08-23 11:53] mpost commented on #183
:+1:

[2015-08-23 12:33] yvolk commented on #184
I think that we should start from creating a test case for this issue  (and it will be easier to do the same for other non - trivial cases ).
The test will allow us to understand / to agree, what actually a correct behavior should be...

[2015-08-23 18:40] dAF2000 commented on #72
These changes in setEventDetails in CalendarEventVisualizer will fix that:

	private void setEventDetails(CalendarEvent event, RemoteViews rv) {
        boolean fillAllDayEvents = prefs.getBoolean(PREF_FILL_ALL_DAY, PREF_FILL_ALL_DAY_DEFAULT);
        boolean showLocation = prefs.getBoolean(PREF_SHOW_LOCATION, PREF_SHOW_LOCATION_DEFAULT);
        boolean timeStringNeeded = !(event.spansOneFullDay(

[2015-08-23 23:43] kaneelias opened #188 "All day events: Remove Old Events"
Since the update I now have all day events eg. birthdays from the previous day showing.

I tried adding an exception for "Birthday" in the keywords but that removes future events as well.

How can i get rid of this because it looks ridiculous and is not needed.

Thanks

[2015-08-24 00:07] kaneelias opened #189 "Feature Request: Tasks"
It would be great if you could incorporate tasks so we can see what time a task is due on a day.

Something like TickTick would be awesome.

Cheers

[2015-08-24 05:03] yvolk commented on #187
As I see the code, which works with a list of "eventEntries", doesn't take into account concurrency. E.g. it looks like onDataSetChanged function may be called even before previous call to it was not completed (i.e. the calls are not serialized).
This mostly worked Ok, when logic inside the call was simpler and executed quicker.

[2015-08-24 05:41] yvolk commented on #188
1. Please start from reading the latest entry in a Changelog here: https://github.com/plusonelabs/calendar-widget
2. In order to hide all past events goto Settings -> Event filters - and make sure you have turned off both entries under the "Past events" group of settings.

[2015-08-24 05:43] #187 closed

[2015-08-24 05:48] kaneelias commented on #188
Thanks, I have read the changelog and both those settings are disabled already

[2015-08-24 06:26] yvolk commented on #188
So, is the problem solved, or you still see yesterday's all day event?
(I tried this now and I don't see it...)

[2015-08-24 19:23] mpost commented on #183
Closing this as resolved.

[2015-08-24 19:23] #183 closed

[2015-08-24 22:54] kaneelias commented on #188
Nope, still the same problem. I had a birthday in my calendar yesterday and today it is still showing with a different background even with past events disabled.

I have also found that recurring future events have disappeared. I have a recurring event that happens every day monday to friday in my calendar and it is only showing today.

I rolled back to the previous version and the recurring event

[2015-08-25 05:28] yvolk commented on #188
I think that the problem with yesterday's birthday is caused by different time zones:
1. One, in which your birthday is defined
2. Another time zone, which is set now on your Android device.

Could you check and post here:
1. Full information about the birthday, which is shown in a Calendar application (i.e. when you open the event, clicking on it in the Widget):
1.1. Is it marked as a "All day ev

[2015-08-25 06:05] kaneelias commented on #188
I can confirm that after 12:00pm Australian time the birthday from yesterday has gone.

As an example with the birthday the date shows Monday 24th of August to Tuesday the 25th of August so at midnight Tuesday this should be removed.

These are birthdays pulled from Facebook. On my phone I have rolled back these are cleared on the newest version on my tablet these are not cleared. Time zone on bot

[2015-08-25 06:06] kaneelias commented on #188
PS. These are shown as all day events

[2015-08-25 06:23] yvolk commented on #188
Thank you for information. We are in a process of creating test cases for all such unusual events, so we need help in correct identification of such events.
Regarding this case with birthday, I still think that birthdays in that Facebook calendar are in some other time zone. You wrote that Facebook birthdays are on GMT  +10 . How do you know that? Could you post a screenshot of that event? (With p

[2015-08-25 06:26] kaneelias commented on #188
Hi thanks for the reply. Sorry I said the data is coming from facebook but both devices are in the +10GMT time zone.

I have opened the event in multiple calendars, sunrise, google calendar and no issue

Like I said the previous build of the widget handles this perfectly so I believe something is broken in the new release.

[2015-08-25 06:35] yvolk commented on #188
There is no doubt that something is broken in current release. The main question is how to fix one issue and not to create another.
E.g. as I wrote above, I created a birthday as a yesterday's all day event in my calendar. And I couldn't see it in a widget, as expected... So I still cannot reproduce the problem.

What Android version do you have?

[2015-08-25 06:45] kaneelias commented on #188
I am running CM12 5.0.2

[2015-08-25 07:23] yvolk commented on #188
@kaneelias You wrote that the Birthday event is in GMT +10, but you still didn't provide a screenshot that shows that.
I'm asking for this again, because when _I_ opened my test "birthday", which works correctly in the Widget,  I didn't find _any_ information on a time zone shown in it...

Please try to create now new birthday ("Birthday 2") and check if it is shown correctly in the Widget.

[2015-08-25 11:10] kaneelias commented on #188
Sorry for the confusion I did not say that the even was in +10 gmt. My devices are +10gmt and the birthdays are pulled directly from Facebook

[2015-08-25 16:55] yvolk opened #190 "Create test framework to test creation of an Event list to be displayed"
This means:
1. Implement a mock for a Calendar provider. This special Calendar provider will supply events to our tests thus allowing us to test different cases, related to calendar events and Settings of our widget.
The Calendar provider should implement minimal part of this API:
http://developer.android.com/guide/topics/providers/calendar-provider.html
From a calendar-widget point of view, this

[2015-08-25 22:41] Resurrection403 opened #191 "Google events that repeat not showing"
If you make an event that repeats, say a work week it only shows the current day... Not the following days.
![screenshot_2015-08-25-16-39-52](https://cloud.githubusercontent.com/assets/13971498/9481487/0a8fbe82-4b48-11e5-8d92-f2f06d310eb9.png)

[2015-08-26 03:30] mjt543 commented on #188
I have a similar issue. Both past event settings are disabled, however, a multi-day event that started the previous day and continues through today keeps yesterday's date and that calendar entry visible in the widget. In the previous iteration of the widget, yesterday's entry would have disappeared around 8 pm central time, which is what I would prefer over the current outcome.

[2015-08-26 03:32] mjt543 commented on #189
I use Tasks & Notes by UniqTec and it integrates with Calendar Widget beautifully.

[2015-08-26 03:35] mjt543 commented on #191
This is not unique to Google. I use the stock Android Lollipop calendar and a recurring appointment I have each Wednesday shows up for the upcoming Wednesday but does not appear in the widget for subsequent Wednesdays.

[2015-08-26 04:58] yvolk commented on #191
Hi all! I don't think that showing each occurrence of repeating event is the only correct behavior of a Calendar widget.

BTW, I do see a  setting "Fill all day events", which as its summary says "Show an entry for each day of an all day event",  but there is nothing about showing each occurrence of repeating events.

So I think that current behavior is a feature, not a bug. I personally don't wan

[2015-08-26 05:22] yvolk opened #192 "Add option to show multiple days event only on the current day"
As a User wrote:
"I'm currently testing your very nice Calendar Widget.
I would like to propose three things however:
Events over multiple days are shown at the first day only or via the setting on every day extra. This is very intrusive in especially with multiple concurrent events.
A better approach would be showing the event only for today, but for every today as long as the event lasts. If the

[2015-08-26 08:38] mpost commented on #191
I would agree that this is a bug. The expectation would be to see an entry for each repetition of an event. The option "Fill all day events" is unrelated to this particular functionality.

We could introduce a new option in an upcoming release to toggle that behavior but the default should be to show all repeated events.

[2015-08-26 11:44] mjt543 commented on #191
Thanks, @mpost. When I scroll the widget and don't see that second occurrence of the Wednesday appointment in my example, my natural assumption is that I have that time available for something else. If I have to keep remembering I really do have something recurring scheduled there, there's no point to the widget, or my phone's calendar for that matter :)

[2015-08-26 11:50] mjt543 commented on #192
I like having a recurring event show up every day it's scheduled so that each day stands autonomous from another. That's that my calendar app does, and it's what I'd see if I went back to an archaic paper calendar. Otherwise, I risk the adage "out of sight, out of mind" by forgetting to go back to "today" to see those recurring events and event periods. That's how the widget performed before, so t

[2015-08-26 12:26] ffes commented on #192
@mjt543 is right. A multiple days event should show up on all days. That should be the default. Otherwise there is no need to put them in the calendar anyway.

[2015-08-26 12:49] ffes commented on #191
I fully agree with @mpost. Repeating events should be shown on all days. Sorry to say, but the new behavior is broken. I have something to do on that time and I should not forget about it or plan another event. And an option to change the default is fine.

[2015-08-26 14:19] yvolk commented on #190
Eventually we will need to add a test new calendar and events to it.
On adding  (creating ) new calendar:
?
On adding events:
http://stackoverflow.com/questions/3721963/how-to-add-calendar-events-in-android

[2015-08-26 19:07] mpost commented on #191
We have fixed the issue and are now starting to make use of the public beta testing channel. Please feel free to opt in and see if the fix works for you: https://play.google.com/apps/testing/com.plusonelabs.calendar (might take a bit until the link becomes active)

[2015-08-26 19:07] #191 closed

[2015-08-26 19:08] mpost commented on #187
We have fixed the issue and are now starting to make use of the public beta testing channel. Please feel free to opt in and see if the fix works for you: https://play.google.com/apps/testing/com.plusonelabs.calendar (might take a bit until the link becomes active)

[2015-08-26 19:08] mpost commented on #183
We have fixed the issue and are now starting to make use of the public beta testing channel. Please feel free to opt in and see if the fix works for you: https://play.google.com/apps/testing/com.plusonelabs.calendar (might take a bit until the link becomes active)

[2015-08-26 19:12] mpost commented on #188
I have to agree with @mjt543. Having a two day long event which spans yesterday and today should not show up yesterday when all settings to show previous events are disabled.

[2015-08-27 06:38] yvolk commented on #188
Today I see the same behavior with a Birthday showing one day earlier in a Google Calendar application on my Samsung Galaxy Tab Pro.
See the screenshot attached: it shows the birthday as a two days event!  While it should be on September 9 only.
![screenshot_2015-08-27-09-27-51](https://cloud.githubusercontent.com/assets/207716/9514048/154cc7f4-4c9f-11e5-8651-c7da4a68f776.png)

[2015-08-27 06:54] yvolk commented on #190
First test case already created and passed on Emulator.

[2015-08-27 07:27] mpost commented on #188
I had an issue like that as well

[2015-08-27 08:34] ffes commented on #191
Just became beta tester and got the beta instantly :-) The issue is fixed, thanks!!!

[2015-08-27 08:35] mpost commented on #191
@ffes Good to hear. We will push the update to the stable channel today.

[2015-08-27 12:35] mjt543 commented on #191
+1 @ffes

Thx @mpost for the responsiveness!

[2015-08-27 12:36] mpost commented on #191
@mjt543 Thanks for your feedback guys. :)

Btw... The 1.9.1 release has been moved to the stable channel by now.

[2015-08-28 04:27] yvolk commented on #186
As http://joda-time.sourceforge.net/faq.html#illegalinstant tells, this is expected behaviour of Joda library.
These are similar cases:
http://stackoverflow.com/questions/25233776/unable-to-create-a-specific-joda-datetime-illegalinstantexception
http://beust.com/weblog/2013/03/30/the-time-that-never-was/

Unfortunately, I couldn't reproduce this exception yet.

[2015-08-28 06:11] yvolk opened #193 "An option to view events of just the present week (Monday - Sunday)"
As a User wrote:
"Love your widget. Wonder if you could make an option to view events of just the present week (Monday - Sunday)"

In terms of already available "Event filters" this will mean:
Add "This week" option both to "Show events that ended recently" and to "Date range".

[2015-08-28 06:20] yvolk commented on #189
I use this option for tasks:
New "Show all past events having default color" optionshows all past events, which have 'Default color'. This option may be used to treat calendar events as Tasks and mark their completion by changing event's color.
See #138 for a discussion.

[2015-08-28 06:23] yvolk commented on #182
This is CalDAV deficiency:  it doesn't broadcast proper notification on update.
Anyway, we have "Refresh" button now in a widget header, which allows you to refresh the Calendar-widget on demand.

[2015-08-28 06:26] #176 closed

[2015-08-28 06:31] yvolk commented on #186
And here is advice on how to handle  (and to reproduce?!) the problem:
http://stackoverflow.com/questions/5451152/how-to-handle-jodatime-illegal-instant-due-to-time-zone-offset-transition

[2015-08-28 06:38] yvolk commented on #175
Implemented in v.1.9
See "Show events that ended recently" option

[2015-08-28 06:40] #175 closed

[2015-08-29 16:46] paulle commented on #154
I support this the horizontal lines are misplaced, at a quick glance it's very misleading. It would be better that the event or appointment together with the date is inside the 2 horizontal lines.

Thank you for the beautiful widget.

[2015-08-29 16:53] yvolk commented on #42
This request is repeated e.g. "...And finally again to save vertical space, the option to move the time in the same line as the event title, thus making the events single lined"

[2015-08-29 16:55] yvolk commented on #154
I agree, this confuses me also sometimes...

[2015-08-29 17:01] yvolk opened #194 "When filling multiple days all day events we should honor "Date range" setting"
Otherwise this multi day event continues to its end date while no other events are shown after the "Date range" setting. And so users complain about "missing events".

[2015-08-29 17:08] yvolk commented on #184
So, as I understand,
1. If "Fill all day events" option is turned off and we are inside the period, we should see this event as active and only today.

[2015-08-29 17:37] dcanl commented on #184
For me, if "fill all day events" is turned on, we shouldn't see any disabled event at the top of the list while we're inside the period. Just 1 identical active event on each day concerned. 
If turned off, current behavior seems correct (1 event at the top of the list which tells the period of the event, active if starting today, inactive if in the period). 

-------- Message d'origine --------
De

[2015-08-29 18:27] mjt543 commented on #184
I again +1 the idea of reverting to the previous behavior. It's more important for me to see how many days longer a multi-day event continues by having it appear as an all-day event for each day it's active as opposed to having the day the multi-day event started perpetually visible in the widget. I like the active date at the top of the widget to always be the current day, not one or more days ag

[2015-08-29 19:17] paulle commented on #154
@yvolk can you fix it? Would be a great optical improvement.  I confused two times an appointment for this reason (know it's my fault).
Thank you in advance

[2015-08-29 23:55] 41south commented on #188
Same issue with past all day events here, pain in the backside, hope it gets fixed soon.

[2015-08-30 14:38] Offerel commented on #79
+1

[2015-08-30 14:38] Offerel commented on #188
I have the same problem since the last update.

[2015-08-31 12:35] yvolk commented on #190
"Share events for debugging" link added to the Feedback section of Settings.
Clicking on this item creates text data (in JSON format) of events, shown on the Calendar-widget, with application settings, which may be shared with developers (e.g. sent by email) in order to communicate to them User's wishes and problems.
This JSON-formatted data may be re-played at developer's machine to reproduce and

[2015-08-31 12:46] yvolk commented on #188
@kaneelias Using a newly introduced Testing framework, I was able to reproduce problems with multi day events, but I still cannot reproduce your problem with a One day event: Birthday.
I even created a new item in a Settings -> Feedback -> "Share events for debugging", which I kindly ask you to use and share data with us, if you still have a problem with a birthday from previous days showing even

[2015-08-31 13:37] mathstuf commented on #73
The way it is indicated for the stock widget is the color bar beside the event is just an outline. Adding a question mark for "maybe" would be good too. As for the exchange problem, does it loom right in other calendar widgets/apps? There's aCal, Standalone Calendar, and others on F-Droid.

[2015-08-31 15:16] yvolk commented on #186
The bug is fixed and corresponding code cleaned. See com.plusonelabs.calendar.calendar.CalendarEventProvider#fixAllDayEvent

The test now passes: com.plusonelabs.calendar.WidgetEntriesTest#testIllegalInstantDueToTimeZoneOffsetTransition

[2015-08-31 22:11] yvolk commented on #184
@ffes @dcanl  I created automated tests for Multiple days events (as least for some cases... [see here|https://github.com/plusonelabs/calendar-widget/blob/master/app/calendar-widget/src/androidTest/java/com/plusonelabs/calendar/MultidayEventTest.java]) and fixed reproduced bugs. Now these tests passed, but if you feel that bugs are not fixed, please provide your case to developers via the new feat

[2015-09-01 16:38] #186 closed

[2015-09-02 07:06] yvolk commented on #188
@kaneelias In the latest commit filtering of All day events improved. Now yesterday's birthday will disappear at 00:00 local time next day (covered by a test case).
BTW, you may build and test current repository code at your device using AIDE Android application (  https://play.google.com/store/apps/details?id=com.aide.ui )

[2015-09-02 07:11] kaneelias commented on #188
Sorry, where can I download the new APK to test?

[2015-09-02 07:20] yvolk commented on #190
Using automated test cases created, all known bugs are fixed. We need confirmation from users to close corresponding issues.

[2015-09-02 08:39] yvolk commented on #190
Tip for future improvements:
In order to replay recorded results using original Time Zone, we will need this advices: http://stackoverflow.com/questions/9397715/defaulting-date-time-zone-to-utc-for-jodatimes-datetime

[2015-09-04 01:28] scottb721 opened #195 "Widget not showinfg"

[2015-09-04 01:30] scottb721 commented on #195
Please remove this. Posted without finishing sorry

[2015-09-04 01:30] #195 closed

[2015-09-04 01:33] scottb721 opened #196 "Widget randomly becomes empty"
For no apparent reason the widget displays "No upcoming events" despite calendars still being selected and having events in them.

Cycling calendars off then back on restores events being listed in the widget.

[2015-09-04 06:12] yvolk commented on #196
Could you try to press "Refresh" button on a Widget's header? Does this help to show events?

[2015-09-04 06:25] scottb721 commented on #196
I normally have the header hidden. I will reenable it and test that next time my events disappear.

Thank you
Scott

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Yuri Volkov <notifications@github.com>
Date:04/09/2015  16:12  (GMT+10:00)
To: plusonelabs/calendar-widget <calendar-widget@noreply.github.com>
Cc: scottb721 <gosubie1@gmail.com>
Subject: Re: [calendar

[2015-09-05 04:57] emucha commented on #79
Would be great for tracking ages of neices nephews etc. Please look into this further!

[2015-09-05 22:32] 41south commented on #188
Same question, where can I download the latest version to test?

[2015-09-05 22:40] scottb721 commented on #196
The Refresh button restored the entries in calendar widget.

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Yuri Volkov <notifications@github.com>
Date:04/09/2015  16:12  (GMT+10:00)
To: plusonelabs/calendar-widget <calendar-widget@noreply.github.com>
Cc: scottb721 <gosubie1@gmail.com>
Subject: Re: [calendar-widget] Widget randomly becomes empty (#196)

Could you

[2015-09-05 23:24] mpost commented on #188
Currently you have to build it from source.

[2015-09-06 15:07] volucris opened #197 "Request: option to hide days in the past"
Since recently, days in the past containing a multi-day event that has not been ended yet are listed as well. As a user I simply want to see what I have planned today and in the near future with as little scrolling as possible, and listing days in the past gets in the way of that. My suggestion is to provide the option to simply never show any days before the current.

[2015-09-07 05:59] yvolk commented on #197
@volucris It's interesting why do you still have that multi-day events, if you don't want to see them even today?!
I mean you could simply change that events to e.g. one-day events and write information about their real duration in their Notes.
BTW, currently Calendar-widget allows you to see this event in a list of past events, if you want  (if that event has Default calendar color).

[2015-09-07 06:20] volucris commented on #197
I'm afraid I didn't manage to make myself clear there. I do want to see the multi day events, repeated on every day from today, but I don't need to see the past. Let's say I'm on day 2 of a 3 day meeting. Now it says yesterday: meeting. Today: meeting. Tomorrow: meeting. I want to see the last two, but not the first. I know what I did yesterday, and even if I didn't it's too late now anyway. Turni

[2015-09-07 16:48] yvolk commented on #197
Oh that bug / feature is already fixed, and may test it now building the application yourself from a Source code of this repository.
So  this issue duplicates that: https://github.com/plusonelabs/calendar-widget/issues/184

[2015-09-07 16:49] #197 closed

[2015-09-08 11:24] yvolk commented on #188
Calendar widget is published to a beta testing channel.  Please join testing at https://play.google.com/apps/testing/com.plusonelabs.calendar

[2015-09-08 11:25] yvolk commented on #184
Calendar widget is published to a beta testing channel.  Please join testing at https://play.google.com/apps/testing/com.plusonelabs.calendar

[2015-09-08 17:27] ghost opened #198 "Header background shading"
Create an option to change the background shading / color of the widget header.
Sometimes the white or black header text blend into the background.

[2015-09-08 18:59] yvolk commented on #198
I also suffer from this problem as I like to use photos as a wallpaper. There is light sky just where the header is...

[2015-09-09 00:34] kaneelias commented on #188
Thanks I have signed up and will test. Is there are way to check on android if the Beta is installed?

[2015-09-09 06:14] yvolk commented on #188
Google Play requires each version of an application to have unique Version code. Current Beta has version code 29. This Beta may become a release, this is why there are no other differences.
You may lookup version code of currently installed Calendar-widget e.g. in a data, shared via Settings -> Feedback -> Share events for debugging.

[2015-09-09 07:26] mpost commented on #188
At the moment you can also check the version number which reads <code>1.9.2</code>.

[2015-09-09 07:42] kaneelias commented on #188
Cool that is what I have got.

[2015-09-10 20:16] 41south commented on #188
My problem with all day events is fixed with the test version, thanks!

[2015-09-11 00:27] kaneelias commented on #188
Mine seems to be working as well.

[2015-09-11 07:04] Offerel commented on #188
I dont know if this issue occurs first since this fix in the latest beta. However if i have for intance a event today, with start 08:30 and the event ends 11:00 and i turn on the Phone 08:46 (or hit the refresh button at this time), the event displays starting at the refresh time.

[2015-09-12 08:39] mpost opened #199 "Ongoing event shows wrong start time in 1.9.2 beta"
Having an event from <code>9:00</code> to <code>12:00</code> on the current day, with the time being <code>10:33</code>, shows the start time of the event as the current time:

![image](https://cloud.githubusercontent.com/assets/73655/9830758/4d615388-593a-11e5-8139-bede9d764fbf.png)

The start time should instead be <code>9:00</code>.

[2015-09-12 08:39] mpost commented on #188
@Offerel I can confirm this regression. We should fix that before pushing the 1.9.2 update. I have opened a new issue for that: https://github.com/plusonelabs/calendar-widget/issues/199

[2015-09-12 09:25] yvolk commented on #199
Yes, this is clear for event, which started today.
But what do we expect to see,  if an event started yesterday at 9AM ?

[2015-09-12 09:54] mpost commented on #199
Since it is a multi-day event i would expect to see an arrow: "-> 12:00 PM"

[2015-09-13 14:31] diggy128 commented on #37
+1
This is essential for me too and I like this widget too much to change.

[2015-09-14 09:00] ffes commented on #184
I've tested this a couple of days now and it seems to work as expected.

But I don't like display of the continuously changing start time. That you need to do this internally makes sense, but I would always show the original start time.

[2015-09-14 09:04] mpost commented on #184
@ffes We have spotted that as well and fixed it already: https://github.com/plusonelabs/calendar-widget/issues/199

[2015-09-14 11:19] ffes commented on #184
@mpost Great to hear. I could/should have found that issue myself ;-)

[2015-09-16 17:58] cgonz2 opened #200 "Repeat events missing on certain days, strange color block at top of app"
I have three events this week that are scheduled as all-day events lasting from the 14th to the 18th. When I view the event individually, the dates and times are displayed correctly. However, on the widget that sits on my phone screen, each of these events shows up on certain days, but skip other days in which they should appear.

Also, there is a strange color block across the top of the app that

[2015-09-16 18:40] yvolk commented on #200
It looks like you noticed the same problem as discussed in #184. Please join Please join testing at https://play.google.com/apps/testing/com.plusonelabs.calendar and see if the problem is already fixed in v.1.9.2 (Beta release)

[2015-09-18 23:22] kaneelias commented on #188
Not sure if this is a bug in the beta but when I have an active event eg start time is 8:30am till 11:30am. When I check my phone at 9:17 the start time in the widget now shows 9:17 so the current time.

I am not a fan of this. Can it be disabled?

[2015-09-19 06:07] mpost commented on #188
That is already fixed inhttps://github.com/plusonelabs/calendar-widget/issues/199. Please try the latest beta release.

[2015-09-19 15:54] yvolk commented on #184
@ffes Another Beta released with a fix for #199. If you already joined the Calendar widget beta channel at https://play.google.com/apps/testing/com.plusonelabs.calendar you should now see v.1.9.2-6b6d980

[2015-09-22 00:51] gasman32 opened #201 "Stop Time Zone changes"
Could you add a feature like android calendar has to keep event times from changing when travelling to different time zones.  It's frustrating when the times change in the widget because they were made in a different time zone.  My full calendar keeps the times at the original ones so I have 2 times for each calendar event: the widget and the full calendar.
Thanks

[2015-09-22 11:40] bestouff opened #202 "automatic 12/24h format not working"
Hi,
My locale uses 24h format but the "automatic" setting shows 12h format.

[2015-09-23 17:26] ffes commented on #184
I tested the new beta and it work fine.

One small cosmetic thing though:

In my calendar last weekend was an appointment that started Friday at 19:00 and ended Sunday at 15:00

On Saturday the end time event was shows as two arrows on Sunday. On Sunday it was as expected. Can't remember what it looked like on Friday.

I attached two screenshots. The pictures say at all.

![saturday](https://cloud

[2015-09-25 00:07] Mahnas92 opened #203 "Widget Disappeared"
The latest update (just during this week) made the widget dissappear from my home screen, and there is no way to find the widget again through the menus.
Maybe I should point out that I use Go Launcher.

[2015-09-25 00:09] #203 closed

[2015-09-25 17:49] #194 closed

[2015-09-25 17:51] yvolk commented on #201
This enhancement will have an additional benefit: it will allow to automate testing using different time zones. See #190

[2015-09-25 20:24] rubyjedi opened #204 "Secondary Calendars not Appearing"
For some reason, the Calendar Widget no longer shows any items from Google Calendars "Shared With Me" by family members, or from Secondary Calendars that I have created on my own account. (My primary calendar is set up for personal appointments; and I have a secondary for business appointments to separate the two)

Here's the daffy thing -- I have a couple of other Calendars "Shared with Me" that

[2015-09-28 10:36] anthraxn8b commented on #182
THX!

[2015-09-30 20:08] Nikratio opened #205 "Widget shows events on wrong dates"
Consider the attached screenshot. It shows a "Ribakovs" event on Saturday, and no event on Sunday:

![screenshot_2015-09-30-12-57-04](https://cloud.githubusercontent.com/assets/701625/10204966/8065649e-6773-11e5-8452-fabfc812665c.png)

However, the "Ribakovs" event is actually scheduled on Sunday, while a "Maker Faire" event on Saturday does not show up at all:

![screenshot_2015-09-30-13-04-32](h

[2015-10-03 08:11] #199 closed

[2015-10-03 08:13] yvolk opened #206 "Events that carry over to the next day show as ending at midnight"
To reproduce the problem set an event starting today at 7pm to 7am the next day.

[2015-10-03 08:58] yvolk commented on #206
Test case for this bug created and allowed to reproduce and fix the bug.

[2015-10-03 14:22] yvolk commented on #205
Hello @Nikratio,
I'm trying to reproduce your problem. I created new test case with a report, that your provided (see commit above...), and now I'm replaying your report at test environment.
The only thing that needed to be set manually for the test was a Time Zone. I set "GMT-07:00 Pacific Daylight Time" in emulator.
Now when I'm running the [WrongDatesLostEventsTest](https://github.com/plusonela

[2015-10-03 18:55] yvolk commented on #201
I think that interface of this setting may be very simple: just a checkbox.
Title : Fix current time zone
Summary:
1. When off: Timezone name, not fixed.
2. When on: Fixed: Timezone name.
Actual "fix" occurs when a User sets this checkbox.

[2015-10-03 20:59] mpost commented on #201
The naming "fix" is very ambiguous. It should describe what is actually happening.

Eg.: "Adjust times to local timezone" with default being "on" (like it is right now).

[2015-10-03 21:28] jkufner commented on #201
It is not really "adjusting" nor "fixing". The time of an event is not changed in any way. Only the way how it is displayed is changed.

When a time of an event is not displayed in current (local) time zone, the timezone must be displayed together with the time. Otherwise it shows wrong data.

When traveling by plane, I often have flight represented as an event which has begins in one time zone an

[2015-10-04 03:54] Nikratio commented on #205
Can you give more detailed instructions for building the code? I never built an Android app before.

However, there might be a second problem: if it does work with the new build, we don't know for sure that the problem has been fixed because some time later the problem went away (I may have restarted the phone in between). So it doesn't seem to happen every time.

[2015-10-04 05:15] yvolk commented on #205
If you a not a developer, I'm not sure, if building from a source code is a good way for you. You better wait for a Beta release then (please opt in to the Open Beta Testing channel [here](https://play.google.com/apps/testing/com.plusonelabs.calendar)). We are generally building a code using [Android Studio](http://developer.android.com/sdk/index.html). Building a code on Android device may be fun

[2015-10-04 05:30] yvolk commented on #201
@mpost @jkufner Maybe a word "Lock" is better.
So the title if the checkbox would be: "Lock current Time Zone" ?!
Actually, by "Lock Time Zone" I found the ["Time Zone Lock" feature of the Jorte Calendar](https://www.facebook.com/jorte.net/posts/636216253071174) - this is very close to what we are talking about. But simpler, since we don't need a list of Time Zones to select from - we Lock at curr

[2015-10-04 11:42] gasman32 commented on #201
My calendar program has a box in set up that is labeled "use home time
zone" with an explanation.
On Oct 3, 2015 4:28 PM, "Josef Kufner" <notifications@github.com> wrote:

[2015-10-05 19:34] yvolk commented on #205
Now this test case is automatically replayed using correct DateTime and a Time Zone.
All tests passed.

[2015-10-08 05:38] yvolk commented on #190
The "Time Zone Lock" feature tested to work as expected internally: it is now a part of a test suite, used when we need to replay a list of events in a specific time zone.

[2015-10-08 05:39] yvolk commented on #201
The "Time Zone Lock" feature tested to work as expected internally: it is now a part of a test suite, used when we need to replay a list of events in a specific time zone.

[2015-10-08 12:30] gasman32 commented on #201
Great!
On Oct 8, 2015 12:39 AM, "Yuri Volkov" <notifications@github.com> wrote:

[2015-10-09 06:11] yvolk commented on #201
So I propose this implementation of the feature: just a checkbox.
Title : Time Zone Lock
Summary:
1. When off: Unlocked, current zone: Timezone name
2. When on: Locked at Timezone name.
Actual "lock" occurs when a User sets this checkbox.
?!

[2015-10-09 11:20] gasman32 commented on #201
Perfect!  Thanks.
On Oct 9, 2015 1:11 AM, "Yuri Volkov" <notifications@github.com> wrote:

[2015-10-09 11:36] mpost commented on #201
I like the shirt wording. How about we streamline it a little to be more in synch with the other settings? Eg "lock timezone".

[2015-10-09 17:18] yvolk commented on #201
@mpost good: "Lock time zone" ("time zone" is used in Android settings. We need to be consistent )

[2015-10-09 19:30] mpost commented on #201
@yvolk yeah agreed. "time zone" is correct.

[2015-10-11 10:46] yvolk commented on #184
@ffes I added a test case specifically for your example (see commit above). Now app works correctly, I think this was fixed recently in #206 (not released yet).

[2015-10-12 13:32] dmfs commented on #182
Hi @yvolk , this is Marten, the developer of CalDAV-Sync. What broadcast do you mean? AFAIK, there is nothing that a sync adapter needs to send after syncing. If you're talking about [ACTION_PROVIDER_CHANGED](http://developer.android.com/reference/android/content/Intent.html#ACTION_PROVIDER_CHANGED), that should be sent by the provider itself.
What exactly is your widget listening for?

Also, we d

[2015-10-15 16:52] yvolk commented on #182
@dmfs Hi Martin, yes we use this filter for notifications on Calendar data changes:
[code]
As suggested e.g. here: http://stackoverflow.com/questions/15217723/broadcastreceiver-for-android-calendar-events

As I understand the User's problem, after your app have synced events in some calendar provider, _that_ provider doesn't broadcast this intent.
I would suggest for your application to broadcast

[2015-10-15 20:27] dmfs commented on #182
Here is where the calendar provider sends the broadcast: [CalendarProvider2.java line 4578](http://grepcode.com/file/repository.grepcode.com/java/ext/com.google.android/android-apps/5.1.1_r1/com/android/providers/calendar/CalendarProvider2.java/#4578)

This method is called (indirectly) when events are inserted, updated or deleted.

I'm hesitating to make CalDAV-Sync send this broadcast, because t

[2015-10-16 05:32] yvolk commented on #182
@dmfs Please read this ticket and relax regarding duplicated broadcast: this intent is already sent  (at least by some calendar applications...) even on an item selection...
https://code.google.com/p/android/issues/detail?id=55675

The notification was not well thought by Android developers, and this mistake still causes confusions by developers of related components.

BTW,  official Android docum

[2015-10-16 06:16] anthraxn8b commented on #182
Device: Nexus 4
Android version: 4.4.4
Calendar app: aCalendar+
I do not use a google calendar! ;-)

[2015-10-16 09:11] dmfs commented on #182
Presuming that @anthraxn8b is running the stock ROM, I'd say that the CalendarProvider most certainly sends the ACTION_PROVIDER_CHANGED broadcast.

@anthraxn8b do you know how to use adb? Usually the broadcast is logged to the system log like so (just captured the log on my Nexus 5):

[code]

by running `adb -d logcat` you can check if the broadcast appears in the log after CalDAV-Sync synced new

[2015-10-17 09:25] #202 closed

[2015-10-17 09:30] mpost commented on #202
The issue has been fixed and a beta build for the upcoming 1.9.3 update has been pushed to the play store. Feel free to provide feedback on the fix.

[2015-10-17 13:35] maiser2011 opened #207 "Overnight events listed first"
Can there be an option where overnight events show at the top of the list on the day that it ends or at least in chronological order? If an event ends at 0730 the next day, it should show on the ending day between an event that starts at 0630 and another that starts at 0830.

[2015-10-17 16:20] mpost commented on #207
Are you implying that the current order is not correct or is that a new feature?

[2015-10-18 08:22] mpost opened #208 "Add support for Android 6 (Marshmallow) permissions"
The calendar widget currently targets API level 22 (pre Marshmallow) so it requires all permissions upfront. Currently these permissions are:

[code]

With Android 6 (API level 23) the ability to grant runtime permission has been added. The good news is that even today, when running on Marshmallow, the widget degrades gracefully: Removing the calendar permission causes the widget simply to no disp

[2015-10-22 12:26] mpost commented on #188
Closing this as fixed.

[2015-10-22 12:26] #188 closed

[2015-10-24 23:44] Andy766702 opened #209 "Event end time not shown on 2nd day of multi day event"
My issue is for an event that starts day 1 at 19.00 and finishes day at 07.30 does not show an end time on day 2 in the widget if the day is in the future. The end time does show when the current days date matches day 2 date. So the change needed is to show the end time when the event is not in progress.

[2015-10-25 20:21] ghost opened #210 "Provide static VC/VN for f-droid"
Hi,

with 1.9.2 a dynamic generated VC/VN was introduced:

https://github.com/plusonelabs/calendar-widget/blob/v1.9.2/app/calendar-widget/build.gradle#L28-L29

This makes it hard to detect new versions at f-droid as discussed here:

https://gitlab.com/fdroid/fdroiddata/issues/322#note_2483736

It would be great if you could provide a static VC/VN again, maybe on a f-droid gradle flavor.

[2015-10-28 07:26] Micha-Btz opened #211 "Please add a month widget"
Hi,

i like your app, please add a widget for monthly view with the possibility to add new
Events.

Thanks Micha

[2015-10-31 05:02] mootieman commented on #204
I've also got this issue. I'd love to see my wife's calendar as well.

[2015-11-01 10:36] mpost commented on #206
Fixed via https://github.com/plusonelabs/calendar-widget/commit/fd513872f35d376748f697ba50f36c9ed59c30c7

[2015-11-01 10:36] #206 closed

[2015-11-01 19:28] Andy766702 commented on #206
Brilliant, tested on my release and all works. Very prompt resolution. Thank you

[2015-11-01 19:30] Andy766702 commented on #209
This has been resolved in issue #206

[2015-11-01 19:30] #209 closed

[2015-11-04 09:17] 1965gtv opened #213 "All-Day Events Edit Error"
When selecting an all-day event via the widget, the date displayed is the previous date.

Actual date displayed on the widget is correct.
![a](https://cloud.githubusercontent.com/assets/15647916/10933999/c49c9b4a-8317-11e5-9c8e-7a675f0d3437.jpg)
![b](https://cloud.githubusercontent.com/assets/15647916/10934000/c4a408a8-8317-11e5-89a2-0ec853d7e63e.jpg)

Using Google Calendar to select the event, th

[2015-11-09 12:04] nvx2004 opened #214 "[Feature request] Padding after the last entry"
Would it please be possible to add padding also to the bottom edge of the widget? In other words, could you please add the same amount of empty space after the last displayed item as is before the first one? Visually it would be much more pleasing than the current design, that is, the first item being nicely padded (https://cloud.githubusercontent.com/assets/6322455/11033249/febe6b82-86e1-11e5-9fc

[2015-11-09 12:32] mpost commented on #214
Valid request.

[2015-11-13 06:02] #172 closed

[2015-11-18 06:01] yvolk opened #215 "In a day header show number of days from today"
Some users, including myself :-), are asking for the same feature: looking at a list of events we need to know quickly and reliably: how far are these events from today.
I personally often find myself realizing that I don't remember, what day is today. And even if I know this  (not using this widget,  unfortunately,  because a date in the widget header is truncated, but this is another story...) I

[2015-11-21 19:45] lexa1 commented on #213
Same here. I have two events, all-day Event1 21.11.2015 and Event2 21.11.2015 21:30. They are displayed correctly in google calendar and on the widget, but if I click on Event1 it's date is 20.11.2015, if I click on it in the google calendar it's date is correct 21.11.2015. Date and time of the Event2 is correct everywhere.

{
  "results": [
    {
      "executedAt": 1448133935961,
      "selectio

[2015-11-21 20:03] lexa1 opened #216 "Day header date formats: Day of the week for today and tomorrow, Week number..."
Please change header of the day from "Tomorrow, 22 November" to "Tomorrow, Sunday, 22 November"

[2015-11-21 20:08] lexa1 opened #217 "events without end date"
Now the is possibility in google calendar to create events without end date. But currently widget shows these events as if their duration is one hour. Can this be corrected so that widget shows only start time without end time?

[2015-11-21 20:10] lexa1 commented on #79
good idea, please add this feature

[2015-11-21 20:24] lexa1 commented on #37
+1

[2015-11-21 20:54] lexa1 commented on #122
please extend the option to show past events with "one week ago"

[2015-11-23 18:41] yvolk commented on #213
Actually, this is a bug of some "default" Calendar application, which is installed at your device.
Calendar-widget doesn't have any "Editor" views.
So solution to your problem will be changing this default Calendar application. See e.g. https://www.google.ru/search?q=android+how+to+change+default+calendar&oq=Android+how+to+change+default+ca&aqs=chrome.2.69i57j0l3.20362j0j4&client=tablet-android-sa

[2015-11-23 18:52] lexa1 commented on #213
Yes, I know that calendar-widget doesn't have viewer or editor. When I click on event in widget it opens viewer of default calendar, which in my case is google-calendar. I also have agenda-widget installed (alternative to calendar-widget), and when I click on event in this agenda-widget it opens viewer of google-calendar and the date is correct. So it's a bug in calendar-widget or agenda-widget ha

[2015-11-23 20:47] lexa1 commented on #213
I see that calendar-widget provides begin and end times for default calendar viewer. Also I found this in documentation for "CalendarContract.Events": If allDay is set to 1 eventTimezone must be TIMEZONE_UTC and the time must correspond to a midnight boundary. Also found some one suggesting this code to resolve this issue:
intent.putExtra(CalendarContract.EXTRA_EVENT_BEGIN_TIME, from.withZoneRetai

[2015-11-23 21:18] lexa1 commented on #213
Here is the link: https://code.google.com/p/android/issues/detail?id=23852

[2015-11-24 16:44] #116 closed

[2015-11-24 16:46] yvolk commented on #213
@lexa1 Thank you very much for pointing to a workaround of this Android  Calendar API bug.
Actually,  this bug was reported several times (see e.g. #68, #146, #188), but only now we see a real cause and a way to a fix!

[2015-11-28 11:13] nvx2004 opened #218 "Ability to change day header colour & event details colour"
At this point one can only change the colour of the widget header and event titles. It would therefore be great if also the day header colour and event details colour were customizable -- at least in terms of the current "white", "light", "dark", and "black".

I guess that as of the current widget version both these colours are fixed to "light" but imagine the following: you have a rather light wa

[2015-12-04 12:10] khaaa opened #219 "Make default notification time in settings"
Now if I set the Notification, then the time defaults to "15 min". But I often want "0 min". If it will be in setting it will be well for all

Thank you!

[2015-12-05 18:45] CptanPanic opened #220 "Add support to show Reminders (shown in Google Calendar, Inbox, Google, or Google Keep)"
With Google inbox you can make reminders that show up in Google calendar. What is wierd is that it doesn't show on their calendar widget. Can this widget add support for this?

[2015-12-12 21:50] Reboot7 opened #221 "Display location on All Day events."
Currently, the text for Location does not display unless there is a Start Time, and then both Start Time and Location are displayed.  The Location will not display on All Day events because there is not a Start Time.  Please update to always display the Location if there is one.

[2015-12-17 05:50] yvolk commented on #184
The fix was released.

[2015-12-17 05:50] #184 closed

[2015-12-24 17:06] donimo commented on #220
The most recent update to the Google calendar app added reminders as well. They show up in the Google calendar widget but not this app. Could you add support for this feature? I use reminders ask the time now and have had to go back to the Google widget to see them. I much prefer your widget though otherwise, thanks!

[2015-12-27 18:12] lumpynose opened #222 "add option to always show day of week"
When you're on vacation or retired it's easy to forget what day it is.

[2016-01-07 07:50] Apksde commented on #189
For my needs the widget is just perfect, but is there a way I could see my tasks too?

Thanks for your work.

[2016-01-14 20:01] ElBeppologe opened #223 "Use space or commas in "Hide based on keywords in a title""
I would like to use space to filter out some appointments from the calendar. I don't know how to masquerade the space or comma so I could use it in the user interface. I tried " ' and () but nothin worked.
For example: I would like to filter out events which contain _. Birthday_ but everytime I try this the _._ is seperated from _Birthday_
Thanks for the time

[2016-01-15 06:07] yvolk commented on #223
Thank you for suggestion,  I just added the same filter enhancement to another project  ( https://github.com/andstatus/andstatus/issues/321 ) so it will be easy to add it to the Calendar-widget.

[2016-01-21 16:46] yvolk commented on #220
Reminders are a very new Google feature. Today  I could find this support page on Reminders: https://support.google.com/calendar/answer/6285327?hl=en
This page has Android developers info on using reminders: http://developer.android.com/guide/topics/providers/calendar-provider.html#reminders
So technically this looks like doable.

[2016-01-21 16:55] mpost commented on #220
The reminders feature gets requested a lot... Could be worth investigating.

[2016-01-28 05:22] o0oke opened #225 "seems the calendar cannot up to date automatically even enable the tool background running"
I always found the tool cannot auto update on the date task list, always need fixed by click setting button and back to the home screen to refresh the data again.

[2016-01-28 05:44] yvolk commented on #225
Please see #120 , we created a separate Refresh button to a Widget header for this.
It works for me...

[2016-01-28 05:58] o0oke commented on #225
Thank you. but what I want to see is the tool can always update date, or enable user to setting a auto sync period. so that the refresh button can be removed. or just enable drop down the task list to refresh, that looks more common action like I want to refresh my email in other apps.

[2016-01-28 06:01] o0oke commented on #120
it would be better to enable the widget can refresh by itself every n(enable setting by user) hours.
or adding the drop down to refresh the list.
I checked sometime the drop down the refresh on the task list will works but sometime do not.

[2016-01-30 07:05] HPSysteme commented on #189
Totally agreed. Need the task too.
Thanks for this app.

[2016-02-12 06:05] DirkBodschard commented on #189
Agree with this feature request. Would definitely an additional value.

[2016-03-09 02:01] emarell opened #226 "make it easy to find today"
Strictly a user here... thanks, this is a useful widget, nice looking and [most importantly] reliable too.

I'd like an appearance option that would make the current-day entry stand out. A separate, user-chosen font color for the day's header would be the way I'd prefer.

Apologies if I've overlooked something that already exists.

[2016-03-11 06:46] o0oke commented on #226
I remember we can highlight on current-day's events

[2016-03-11 14:37] ivanslamek opened #227 "Please add number of years to anniversaries"
Hi.

Can you please add number of years (e.g. in brackets beside the event) for anniversary events (such as birthdays etc.) so you can see it right away (which anniversary it is)?

Have a nice day.

[2016-03-12 11:18] E5823 opened #228 "Add option to hide "No upcoming events""
Firstly thanks for a nice and clean looking widget.

Precisely because it is so clean I would prefer the option to have the interface be completely empty when there are no upcoming events. The text display "No upcoming events" doesn't look good and to my mind is superfluous. It also has no function, i.e. pressing the text doesn't take you to calendar or anywhere. (Which I personally don't mind as

[2016-04-13 14:00] sonnybarwick opened #229 "Widget opens 72 times in 4 hrs. How to control sync."
How can I control when and how often the calendar widget opens to sync?  it's slowing down my system.  Thank you.

[2016-04-18 10:26] fredphoesh opened #230 "Google Reminders not supported/visible"
Google has rolled out it's new Reminders for Google Calendar... and IMO this aspect of Calendar really should be supported by the widget.

Thanks
Mark.

[2016-04-26 11:39] dkg22 opened #231 "Widget Header day short form"
Given the restricted space in the widget header display (all that displays in a 2 of 4 column display on my front page - using the smallest text - is the first 7 letters only of the day). It should have the option of using the short form of day eg "Wed" which would allow room to also include the short form date instead of "WEDNESD" & no date display. Thanks

[2016-05-11 12:09] adamdehaven commented on #231
Totally agree: Abbreviated dates (or a user option to switch to short dates) would be great

[2016-05-11 15:26] adamdehaven commented on #227
Just update the event text in your calendar

[2016-05-11 19:24] ivanslamek commented on #227
What do you mean? Should I update text for recurring events (anniversaries) every year? I hope not...

[2016-05-11 19:28] adamdehaven commented on #227
I'm not sure how this would be done. Google Calendar doesn't even support this feature on it's own

[2016-05-11 19:31] ivanslamek commented on #227
All my anniversaries come from contacts in my phone. I had one calendar widget which displayed the anniversary number (I think it was Agenda widget or similar).

[2016-05-19 02:29] kennethscott commented on #230
+1

[2016-05-27 18:35] rovel2011 opened #232 "End Time option"
"End time" option doesnt seem to work. Intead "Fill all day event" is working for both purpose, its own and the "End time".

[2016-06-08 11:14] kockok commented on #231
It would be great if the header contents are customizable such that I can only add a create event button on it.

[2016-06-15 22:53] davboc commented on #226
Please @o0oke explain me how to do this, I need a way to highlight today's events. Thanks

[2016-06-16 01:52] o0oke commented on #226
I use the new tool called simple calerander widget now. which can set more options on it

[2016-06-16 03:29] davboc commented on #226
@o0oke thanks for reply, I can't find this app, can you send me a link?

[2016-06-16 04:21] o0oke commented on #226
You are welcome.
please leave me a mail and I will send you the tool.

[2016-06-17 11:57] davboc commented on #226
Thanks for reply, this app works fine but have another problem that doesn't show days without events,this is important for me

Il 16 giugno 2016 06:22:00 CEST, Evel <notifications@github.com> ha scritto:

[2016-06-20 09:39] erikgeurts commented on #230
I would like to ask for support for reminders in the widget.

[2016-06-21 07:54] saescott commented on #230
+1, reminders is very important.

[2016-07-01 10:03] tomchiverton commented on #230
Just noticed this today

[2016-07-06 15:56] hmac01 commented on #120
On my Samsung Galaxy S7, the refresh button doesn't work when I tap the symbol on the header of the widget.

[2016-07-10 09:38] magcsaba commented on #230
+1

[2016-07-13 05:41] yvolk commented on #230
This is a duplicate of #220
Please discuss there.

[2016-07-13 05:41] #230 closed

[2016-07-13 06:37] erikgeurts commented on #220
exactly, in #230 several people including me requested this.

[2016-07-22 07:17] #211 closed

[2016-07-25 13:43] fmaylinch commented on #220
+1

Thanks for this excellent widget!

[2016-08-10 15:26] PhysicsCodingEnthusiast commented on #220
Thank you for all of your hard work! Just wondering, is this a feature we can hope to get in the near future? It would be great! Thanks!

[2016-08-31 14:24] rje6459 commented on #167
Can we get an option to display the time and location on multiple lines like the event title?

[2016-09-05 06:02] kovadam69 opened #235 "No language selection possible"
Hi!

Despite my phone language is set to Hungarian, and the calendar-widget theoretically supports the hungarian language (I saw the strings.xml for it in the sources), the widget and the settings are displayed in english. (funny, that the day & month names are displayed in hungarian!, just the static app texts are in english)

Is there a way to set it to hungarian? I did not find any option in th

[2016-09-09 13:47] BengaloBongali opened #236 "Don't show "-> end date" for 1-whole-day events"
For all events that last one whole day, the widget shows an arrow beneath and the end date which is of course the same as the start date. This is redundant, because the user knows it's a one-day event if there's neither time nor end date. The end date is not shown if I activate fill up events that last more than one day. I think it sould always be that way for events that last one day.

[2016-09-11 00:29] sayash commented on #223
+1 for this :-)

[2016-09-18 17:03] kenneho opened #237 "[feature request] Add support for multiple default reminders"
I'd love to be able to have at least two default reminders for my tasks, so that when I add a new tasks, the task will by default have these two or more reminders set.

[2016-09-19 22:32] EleutheriusBliss opened #238 "[Feature request] Open events/tasks in third party calendars"
This is a very nice widget. It would be even more complete if there was an option to tap on events/tasks and have them opened in a calendar app of choice.
In my particular case (galaxy S5 international version, stock Android 6.0.1), there is no way to have the widget open existing events in Jorte calendar instead of the default S-Planner, that I dislike a lot because of its Lollipop (i. e. extra-w

[2016-09-20 16:43] yvolk commented on #238
Android allows to clear Default application for many actions. Next time you will be prompted for an application to execute this action.
Use instructions like these (I just Googled them by ”android how to clear defaults”) :
http://www.greenbot.com/article/2151008/how-to-set-and-clear-default-applications-in-android.html
http://www.howtogeek.com/howto/43135/how-to-change-the-default-application-for-

[2016-09-21 16:08] EleutheriusBliss commented on #238
Yvolk, thanks for the answer! Unfortunately, resetting default preferences for Android 6.0.1 apps on a Samsung S5 has no effect whatsoever on this widget. That is to say, tapping on an event will open S-Planner anyway.

[2016-09-21 16:14] yvolk commented on #238
@EleutheriusBliss You could try to Disable the S-Planner application, at least temporary and check if Another Calendar application appears on Tapping an event.

It also could be that Jorte needs some other ”Intent” to appear as an alternative Calendar application...

[2016-09-21 17:54] EleutheriusBliss commented on #238
I tried that too :-) in that case, tapping on an event prompted no reaction at all. If I had to guess, then I'd say the problem is not in Jorte, any calendar could not beat S-Planner on its "battlefield" without some "help" from the widget.

[2016-09-21 19:16] yvolk commented on #238
On one of my devices (which has CyanogenMod) I have two applications that are suggested by Android system to open the tapped calendar event:
1. "com.android.calendar" - Open Source Android Calendar (it comes with the CyanogenMod).
2. "[com.google.android.calendar](https://play.google.com/store/apps/details?id=com.google.android.calendar)" - Google's extension of this calendar

I even installed the

[2016-09-22 00:33] EleutheriusBliss commented on #238
Heck it worked! I had guessed wrong! I installed Digical (it has a dark theme in the free version, btw), and the widget let me choose to open events with it! Thanks a lot Yvolk! I think these instructions, with a warning for Jorte users, should be in the wiki.

[2016-10-02 13:53] frequentdrop commented on #120
Same here on a p9000. No refresh on buttonevent. apperently no errors in catlog.

[2016-10-04 19:11] Andy766702 commented on #220
Would love to see reminders added. This app is so good.

[2016-10-07 16:45] SSN651 opened #239 "Allow for Designating a Pattern in the Repeat Event Feature"
Provide code to enable the Repeat of a calendar event to be set for a pattern such as:
• 1st Thursday of each month
• every other Tuesday
• 2nd and 4th Wednesday
• or any other common pattern

[2016-10-13 14:44] grafenhofer commented on #223
Our corporate calendar is full of events with a title like the following: "do it". Filtering for "do" and/or "it" is of course removing a lot of other events too. Allowing for more general filters would thus be highly appreciated. :)

[2016-10-24 04:16] chanceknguyen opened #240 "Hide based on keywords in a title isn't working"
Events aren't hiding on my Googe Pixel with this feature

![image](https://cloud.githubusercontent.com/assets/23022547/19633385/a8972b10-9976-11e6-8f15-8ea9c3e992bc.png)

![image](https://cloud.githubusercontent.com/assets/23022547/19633386/ae3a0290-9976-11e6-816f-50722bd58087.png)

[2016-10-25 23:48] allanlaal opened #241 "ADD option to specify which calendars are shown, when "Show events that ended recently" is enabled"
Use case:
I need to see X hours in the past (now supported thanks to #122 ), but I also have lots of calendars that should not show past events, like my weather calendars, sunset-sunrise and some shared calendars.

so if the option "Show events that ended recently" is not disabled, then one should be able to tick 1...N checkboxes for each of ones calendar to show past events for.

[2016-11-10 23:58] efbgirotto commented on #220
+1

[2016-11-11 23:17] homlett commented on #228
I'm totally agree with that. That would be very nice to be able to hide the "no upcoming events" message.

[2016-11-16 11:37] Lawnsweper commented on #220
Any sign of this feature being added ?

[2016-11-16 11:42] fmaylinch commented on #220
I suggest to pay for this in advance, so the author can dedicate the time
to implement it. I'm willing to pay. Start a crowdfunding or something like
that. I'm serious.

On Wed, Nov 16, 2016 at 12:37 PM, Lawnsweper <notifications@github.com>
wrote:

[2016-11-19 07:43] yvolk commented on #220
I re-read available documentation on Reminders at https://developer.android.com/guide/topics/providers/calendar-provider.html#reminders, created a couple of reminders via Google apps and it came to me that there is NO any documentation on the "Reminders”, about which we are talking here.
I found recent discussion of the Google reminders in StackOverflow: http://stackoverflow.com/questions/35534774

[2016-11-23 09:02] PushiC opened #242 "Tasklist / Todolist"
Hi There,

nice app so far, thank you, but there is one thing missing:
I would like to see my ToDoList / TaskList- that i already sync with my other collegues via owncloud at work - to be viewable in your WidGet. Since i updated to Android 6 i have lost one WidGet that was capable of doing that; yours would be a great alternative to that.

thx in advance and big thx for your volunteer.

[2016-11-23 14:46] PhysicsCodingEnthusiast commented on #220
Thanks for the response! Is there any way for a developer (or us) to request a public API for this? Would really like to have this functionality in third-party apps.

[2016-11-24 05:32] yvolk commented on #242
@PushiC Please see our discussion on using ”events” as ”tasks” https://github.com/plusonelabs/calendar-widget/issues/126
Since implementation of the filter "Show all past events having default color”, I'm using Calendar event color to mark an even as completed. See also https://github.com/plusonelabs/calendar-widget/issues/138

[2016-12-11 17:28] mwilk84 opened #243 "Events times change when changing time zones"
Is there a way to make events stay on the same time in a new time zone? For instance, I have a reminder set for 7:00 a.m. every morning. But when I travel from Central US time zone to Eastern US time zone, I want to continue having that reminder at 7:00 a.m. local time but the app changes it to 8:00 a.m. instead. I tried the settings option to lock the time zone. This did make the reminder on my t

[2016-12-13 05:39] yvolk commented on #243
We invented the "Lock time zone"  feature for this, but didn't implement it yet, see https://github.com/plusonelabs/calendar-widget/issues/201

[2016-12-14 05:07] kkudose opened #244 "Add appearance color change option for Date"
The date that appears above each event cannot be customized and is permanently "Light." Add customization options for this (can be the White/Light/Dark/Black or the weird color picker).

[2016-12-14 05:29] #243 closed

[2016-12-21 17:33] lanri13160 opened #245 "Mishandling of All Day recurring events"
I created an unending recurring all-day event for future events. I update these daily ("only this event") to reflect any changes. Using your widget, the updated event now spans two days. Using other calendar apps, it works correctly.

[2016-12-22 06:05] yvolk commented on #245
Looks like this is a bug we discussed here: https://github.com/plusonelabs/calendar-widget/issues/213
?!

[2016-12-22 22:43] lanri13160 commented on #245
It seems to be the same, but the last entry in #213, from a year ago, appears to indicate the bug has been isolated and fixed? If that's true, I'm reporting that it hasn't.

[2016-12-30 07:41] fergusonbt opened #246 "[Feature Request] Change calendar colors"
I would love to have an option to change the colors of the different calendars, or remove the colored tabs all together.

[2017-01-11 14:48] simkin opened #247 "Multiple widgets share the same configuration"
It seems it is not possible to configure each widget independently. This makes it impossible to have a dedicated widget for your work calendar and another for your private calendar.

For me personally this is a must have.

[2017-01-11 19:13] adrcotfas opened #248 "show alarms in the widget"
It would be very nice if alarms would be included in the widget too.

[2017-01-16 22:51] tillig commented on #246
I found that if you change the colors in the web version of Google Calendar that the colors on the widget will sync to match.

The thing it doesn't cover is calendars that get added by apps. For example, the TripIt app can act as a calendar source and that color can't be synchronized with GCal. Same with calendars like local phone calendars.

[2017-01-20 05:29] yvolk commented on #219
This is defined by a particular Calendar application that you are using, not by the Calendar-Widget.
So please address this request to that application's team.

Tip: You may try different Calendar applications. Se  similar request ,which should be addressed by Calendar applications https://github.com/plusonelabs/calendar-widget/issues/238

[2017-03-09 04:08] kockok commented on #39
How about adding "3 days ahead" in Date Range? Or just create a "custom setting", for instance, some may want "2 days ahead". Thanks.

[2017-03-10 16:42] Rondom commented on #246
There are dedicated apps for changing the colours for calendar providers that do not support setting a colour.

I do not think this is an issue this widget is supposed to solve. It's more of an Android issue,I think.

[2017-03-22 11:27] noChamp opened #250 "transparent background"
hi
i would like to ask for transparent background.
thanks
M>

[2017-03-22 11:59] mpost commented on #250
You can already change the background transparency in the settings.

[2017-03-23 05:26] yvolk commented on #225
Recently I tried to figure out if the Calendar Widget refreshes automatically on my Android 6 tablet.
And you know: it does refreshes, but up to tens seconds after the event update.
The refresh itself is instantaneous: I can see this using manual refresh button. So it looks like main Calendar application sends update notification with such a delay. Maybe, it does this after it has completed syncin

[2017-03-24 05:24] yvolk commented on #245
In order to fix this bug, we need to reproduce it first. So your help is needed to provide us with your case, which shows this bug.
Please send me ( or simply paste to this conversation) a report, generated via Calendar Widget Settings -> Feedback -> Share event for debugging

[2017-03-24 05:29] yvolk commented on #240
Keywords filter is case insensitive. I think this is why an event, containing "Cabin", was not filtered out

[2017-03-24 05:29] #240 closed

[2017-03-24 05:34] yvolk commented on #247
Thank you for the suggestion.  This is a duplicate of#37. And we are planning to implement this .

[2017-03-24 05:34] #247 closed

[2017-03-24 05:52] yvolk commented on #241
@allanlaal Your request made look again  at currently available Setting. And I realized that what we have as a separate "Calendars" settings "header"  should be actually a part of "Event filters -> All events" settings section
Looking at calendar list this way, you are proposing to add another filter to  "Event filters -> Past events" settings section.
Title: "Calendars, from which to show Past ev

[2017-03-24 18:54] allanlaal commented on #241
@yvolk yes, that is correct

[2017-03-26 06:18] yvolk commented on #42
I implemented this long-awaited feature by adding new "Appearance -> Event entry layout" option, which currently allows selection between:
* "Default multiline layout" (i.e. leave everything as as it was before this change) and
* "Single line layout" - this new one.

The new layout works with recent contribution of the "Show day headers" setting, which allows to optimize vertical space even furthe

[2017-03-26 09:18] yvolk commented on #231
As I see the Pull request #233 actually didn't solve this problem, at least not fully: date in the *Widget header* is still not abbreviated. (Abbreviations appeared in "Day headers" etc. though...).
Fixing this now...

[2017-03-26 12:14] #205 closed

[2017-03-26 12:26] yvolk commented on #32
I just tested this on my Android 7.0 device after clearing all default for the Google Calendar application: clicking on a Widget Calendar prompts to select between the two "Calendar" applications, installed on my device. See the screenshot below.

[2017-03-26 12:28] #32 closed

[2017-03-26 12:44] #219 closed

[2017-03-26 12:46] yvolk commented on #248
Do you mean "Reminders"? Please see https://github.com/plusonelabs/calendar-widget/issues/220

[2017-03-26 12:47] yvolk commented on #223
Implemented. Place a text in single or double quotes in order to have space or comma in a filter.

[2017-03-26 12:52] yvolk commented on #236
I cannot reproduce this problem. Your help is needed to provide us with your case, which shows this bug.
Please send me ( or simply paste to this conversation) a report, generated via Calendar Widget Settings -> Feedback -> Share event for debugging

[2017-03-26 13:34] yvolk commented on #201
Implemented

[2017-03-26 13:53] yvolk commented on #46
This "bug" is an opposite of the #191 "bug": "Google events that repeat not showing" - it was "fixed" in April 2015.
The point is that different people need different behaviour. I also find that e.g. a monthly event-reminder "pay my bills" should not be shown more than once. Otherwise I will never see a single event scheduled for 5 months ahead - it will be lost in several duplicates of such "peri

[2017-03-26 17:08] yvolk commented on #46
Implemented: "Show only the closest instance of a recurring event".
Now, at last, I can set "Event Filters"->"Date range" to "One year", and my agenda is not an endless list of the same events, as it was before...

[2017-03-27 06:30] adrcotfas commented on #248
I was referring to the alarms set by the clock app, which also makes a small icon appear in the status bar.

[2017-03-28 04:32] yvolk commented on #42
In order to look "Days from today" column better, I right-aligned numbers in that column:
![screenshot_20170328-072920](https://cloud.githubusercontent.com/assets/207716/24389223/a55aa4e0-1388-11e7-943a-0532f8fed181.png)

[2017-03-29 18:38] yvolk commented on #37
I figured out, how to implement support of different settings for different widget instances without rewriting and duplication of existing Settings screens / xml files (which are based on Android "Shared preferences").
As before, only one widget instance will be editable at a time using simple Android approach with the SharedPreferences. But after closing the Settings screens all settings will be

[2017-03-30 05:28] yvolk commented on #248
The Calendar Widget shows all "events", which are exposed/provided via the Android Calendar Provider API ( https://developer.android.com/guide/topics/providers/calendar-provider.html ). This allows us to show events, created by any application, which supports this API.
This means that some "Clock application" could also be a source of "Alarm events".
If you will find such an application, please le

[2017-03-30 06:38] adrcotfas commented on #248
I was talking about the stock Clock application which does not create an event or reminder within the Calendar but does set an alarm.
Probably there is a way to access the list of active alarms and then add them to the Calendar Widget.
See http://stackoverflow.com/questions/3147179/get-all-alarms-saved-in-the-alarm-application.
There is a similar feature on IOS, swiping right will show the list of

[2017-03-30 16:23] yvolk commented on #248
It looks like what you are talking is about the "Alarm Clock events" and they can be accessed via the AlarmManager https://developer.android.com/reference/android/app/AlarmManager.html
As I see, there is a method to see only one, next scheduled Alarm Clock only: https://developer.android.com/reference/android/app/AlarmManager.html#getNextAlarmClock()

[2017-03-31 06:26] adrcotfas commented on #248
Well, I guess that's fine. An usual use case would be to set your morning alarm once per day or have it repeating on certain days.
You would not be interested in seeing the whole list of alarms, just the next one.

[2017-04-02 06:50] yvolk commented on #37
The feature with different settings for different Widget instances really started to work on my own devices on April 1 :-)
_All_ setting are currently separate for each Widget instance. I will need some time to test if all settings are applied correctly, including recently added "Lock time zone" #201
See how three differently configured (for testing purposes) widgets may look at Android 6.0 device

[2017-04-02 14:08] yvolk commented on #231
To be released in v.1.10.0

[2017-04-02 14:08] #231 closed

[2017-04-02 14:09] yvolk commented on #201
To be released in v.1.10.0

[2017-04-02 14:09] #201 closed

[2017-04-02 14:09] yvolk commented on #223
To be released in v.1.10.0

[2017-04-02 14:09] #223 closed

[2017-04-02 14:09] yvolk commented on #42
To be released in v.1.10.0

[2017-04-02 14:09] #42 closed

[2017-04-02 15:06] obperryo commented on #37
Nice, looking forward to it!

[2017-04-09 04:43] yvolk commented on #46
To be released in v.1.10.0

[2017-04-09 04:43] #46 closed

[2017-04-15 11:48] yvolk commented on #42
The two alternative layouts are now called "Time below title" and "All in one row"
![layout-selection](https://cloud.githubusercontent.com/assets/207716/25063344/a0dbafb6-21ea-11e7-9b68-887f7efd55a3.png)

[2017-04-17 11:25] ikerrg opened #252 "Whole day events not correctly opened by the calendar-widget"
I have seen that when you try to open an event that is defined for the whole day (no start/end times), if you open it directly by tapping on it in the calendar-widget, the event is spanned over two days (the day of the event and the day before). The problem appears if you try to edit it, as by default the event is changed to 2 days, and if you don’t realize that when you save it, the event is chan

[2017-04-17 16:45] yvolk commented on #252
Before editing, do you see this event in the widget in one day only?
Could you reproduce this problem,
make screenshot of the widget and post it here
and send to me a report with events for debugging? (It's in Feedback -> Share events for debugging).

[2017-04-17 16:56] yvolk commented on #252
I think I could reproduce the problem: it occurs when opening the All-day-event with a stock Android calendar (I have such on my LineAge/CM device).
But if I open the same event with Google Calendar, it shows it to me correctly.

So it looks like incompatibility/bug of some Calendar application.

In fact, all day events are quite weird (they don't have time zone... as I figured out a couple of yea

[2017-04-17 17:53] ikerrg commented on #252
Thanks for investigating the issue. Yes, it seems that you have found the problem. If the calendar-widget opens the all-day event directly (using stock calendar app) it shows incorrect information spanning over two days (I do not use Google’s calendar). But if the event is opened from the stock calendar app without using the calendar-widget, the event is correctly placed in only one day. Do you th

[2017-04-18 19:22] yvolk commented on #252
I fixed this bug, now both Calendar applications open All-day events correctly.

[2017-04-18 19:45] yvolk opened #253 "Beta testing for people, who don't use Google Play Store"
For Beta testing I'm attaching current Debug build of the Calendar-Widget to this post.
Please note that the apk file inside the zip is signed with debug keys i.e. in order to test the application you will be prompted to uninstall existing Calendar-Widget application, downloaded from other sources (e.g. from F-Droid or from Google Play store).

v.1.10.0 Beta 3
[calendar-widget-debug-1-10-0-3.zip](

[2017-04-18 22:38] ikerrg commented on #252
Thanks, that was quick! I confirm it is fixed in the latest beta released in Google Play.

[2017-04-19 03:19] #252 closed

[2017-04-19 03:37] LawUmp1 commented on #155
I updated app last week.  I am now having same problem,  It set outlook as default calendar, rather than the Android Sync Calendar I selected during setup.  Any way to change the default calendar yet?

[2017-04-19 06:03] yvolk commented on #155
Default application can be changed by clearing Defaults of current "default" application, see https://github.com/plusonelabs/calendar-widget/issues/238

[2017-04-19 06:36] LawUmp1 commented on #155
Yes. Already tried that says no default set. Cleared cache memory, uninstalled and reinstalled app., same thing. 

Sent via the Samsung Galaxy Note5, an AT&T 4G LTE smartphone
-------- Original message --------From: Yuri Volkov <notifications@github.com> Date: 4/19/17  1:03 AM  (GMT-06:00) To: plusonelabs/calendar-widget <calendar-widget@noreply.github.com> Cc: LawUmp1 <schaaflaw@gmail.com>, Comme

[2017-04-19 15:55] yvolk commented on #155
@LawUmp1 Please take into account that the Calendar-Widget doesn't have a notion of the "Default application". It's Android system, that decides, which Calendar application should be launched as a response to the Calendar Widget's request ( called "Intent" in Android).
So there are two reasons, why Outlook opens without any prompt:
1. It does have some "default" set by Android system.
2. It is the

[2017-04-21 05:56] #238 closed

[2017-04-30 00:31] atradwan opened #254 "Calender date is shifted"
Hi, my calender seems to be shifted -1 day. All my events are showing 1 day earlier in the widget than what they show in Google Calender and LG Calender Apps.

The widget also shows Sunday, Apr 30 in the header but the first day shows Today, 29 Apr

[2017-04-30 04:45] yvolk commented on #254
What version are you using now?
We do have Beta version in testing, please opt in here and check: https://play.google.com/apps/testing/com.plusonelabs.calendar

[2017-04-30 10:17] atradwan commented on #254
Was on 1.9.3, but fixed after updating to the beta 1.10.0! Thanks!

[2017-04-30 10:17] #254 closed

[2017-05-07 18:27] JohnVeness opened #255 "Move indicators to same row as event times"
Many thanks for your widget.

I use the following widget layout with quite a narrow width (two units):
![screenshot_20170507-185637](https://cloud.githubusercontent.com/assets/2512915/25783828/a341b22e-335a-11e7-85f2-42e7680260e6.png)
You'll notice that the indicator for the alert is on the same line as the event title, reducing the space for the title. Meanwhile there is blank space on the row be

[2017-05-07 18:47] JohnVeness opened #256 "Consider unique app name"
I think it would be a good idea if the app had a unique name, rather than just "Calendar Widget". At the moment it's hard to point someone accurately to your app by mentioning its name in spoken conversation (obviously easier electronically due to URLs).

If nothing else, maybe "+1 Calendar Widget".

[2017-05-07 21:11] yvolk commented on #255
@JohnVeness Looking at your screenshot I see that you could easily hide the "Indicator for alerts" altogether in "Event details" settings as all your events have it
?!

[2017-05-07 21:15] yvolk commented on #256
Maybe "Another Calendar Widget" ?!

[2017-05-07 21:22] obperryo commented on #256
Maybe Calendar Instance Widget... Something that identifies it does
multiple calendars widgets, as that is a unique feature that not all
calendar widgets do.

On May 7, 2017 4:15 PM, "Yuri Volkov" <notifications@github.com> wrote:

[2017-05-07 21:28] JohnVeness commented on #255
I realise I can hide that indicator, but actually not all my events have it (I chose that cluster specifically to demonstrate the issue). I find the indicator useful, just would prefer it somewhere else.

[2017-05-09 21:43] Nafania commented on #220
@yvolk  https://developers.google.com/google-apps/tasks/ isn't it documentation that you're looking for?

[2017-05-10 09:47] ianrenton commented on #220
+1 from me, I would love to see this feature if/when Google makes the API available.

@Nafania I think that's something else, Google Tasks (https://mail.google.com/tasks/canvas) doesn't seem to reflect the Reminders on my calendar, or vice versa.

[2017-05-10 23:02] Tjhartung opened #257 "Outlook calendar is not available to select"
when selecting calendars to display my outlook calendar doesn't show as a available calendar to select. Not sure if this is a feature request or issue. gmail calendars show for selection but I would rather not need to sync outlook calendar with gmail.

[2017-05-14 04:08] yvolk commented on #257
The Calendar-Widget user the official Android way to discover a list of calendars: it queries the "Calendar Provider" for this information ( https://developer.android.com/guide/topics/providers/calendar-provider.html )
In your case I would start from checking if other applications that use the same generic way to read calendars and their events, show your "Outlook calendar". See this post for a li

[2017-05-14 04:25] yvolk opened #258 "Users confusion of "Widget" and "Shortcut" on a Home screen"
In the app reviews I read:
"Just kept sending me between two screens. The first told me to go to the widget on my home screen and when I hit the widget on my home screen to open the app, it took me right back to the screen that told me to go to the home screen. Never even got to try out the app!"

It looks like the User confuses a Calendar-Widget's shortcut on a Home screen with a Widget of the Ca

[2017-05-26 17:19] smichel17 commented on #246
+1 to what @Rondom said. I use this app because it allows me to customize what events are displayed; allowing to modify calendars would only make it more complex and therefore less usable for me.

[2017-05-26 17:24] smichel17 commented on #37
I'm currently confused how this works. When I open the app, a large number of widgets to configure is shown, but I only have one widget active. It's rather difficult for me to figure out which entry in the list controls my widget.

<img src="https://cloud.githubusercontent.com/assets/6563664/26505350/6bec9fbc-4216-11e7-8fe1-eec48dcfa742.png" height=500 alt="app">

[2017-05-26 21:18] yvolk commented on #37
@smichel17 In order to figure out, which settings are for the particular widget, tap "three vertical dots" icon on that widget's header!
Settings of that widget will be opened.
Go to Appearance section and change "Widget name" from default "Calendar Widget NN" to something meaningful for you, e.g. to "Main widget"

[2017-05-26 22:34] smichel17 commented on #37
@yvolk I have the header disabled.

At one point I went through the list, found what I thought was it, and renamed it (it's just off screen in the screenshot), but changing that one's settings seems not to have an effect any more, so I'm not sure it was actually the right one.

It's currently also harder to figure out which is which than it needs to be, because pressing the back button after I sel

[2017-05-27 04:25] yvolk commented on #37
@smichel17 As you have lots "Calendar widgets" created (maybe in different launcher applications...) and most of them (or even one only) are really needed to you, I think that the easiest way for you is:
1. Uninstall Calendar widget,
2. Reboot your device
3. Install the Calendar widget again
4. Add the Widget to your Home screen.
- This way you will have exactly *one* Calendar widget in the list.

[2017-05-27 11:33] Vovusik opened #260 "How to add a themed Google Calendar to a widget"
How to programmatically add to widget your own themed calendar created with Google Calendar (https://support.google.com/calendar/answer/37095?hl=en), which will be automatically preinstalled in the application, even without synchronization with the account.

Thank you.

[2017-05-27 11:57] yvolk commented on #260
This looks like a question for StackOverflow :-)
The Calendar-widget application doesn't know, _how_ you created the calendar: if the calendar is shown in a list of calendars (available via android.provider.CalendarContract.Calendars#CONTENT_URI according to the Calendar API) , it will be available for display in the Calendar Widget.

[2017-05-27 12:01] Vovusik commented on #260
Thank you.

[2017-05-30 06:48] djangothebest opened #261 "[Feature Request] Tasks"
Hello, would it be possible also to show the tasks?
I am using the Samsung G7 and I am using the standard google calendar and the included task function.

Thx

[2017-05-31 01:06] sbillard commented on #56
I am seeing the same undesirable behavior: My contacts all have birthdays and anniversaries as appropriate. But I also have a Google Calendar which has the important ones of these dates. It is this calendar that I wish to show in the widget.

On the phone calendar app I can select the specific "phone" calendars I want shown--My Calendars, COntacts' birthdays, and My Tasks. I choose only My Calenda

[2017-06-04 17:43] digidream commented on #261
I vote for this function, too. There is currently no free widget showing both events and tasks. It used to work in Simple Calendar Widget, but the ability to show Tasks (using Dato's GTasks) stopped to work in never Android versions.

Honestly, do not understand how people can live without this.

[2017-06-08 12:35] mattpanther opened #262 "Wrap location field option"
Every day I have meetings across many different conference rooms and the only way I can see the entire location right now is too use very small text. Would love the option to wrap location to multiple lines just like you have with title now. Would also me to see where I'm going at a glance, with a little larger text. For context I'm using a 2 column wide by 4 row tall size.

[2017-06-13 06:46] yvolk commented on #261
This request duplicates #242
Please see it.

[2017-06-13 06:46] #261 closed

[2017-06-20 12:23] okias commented on #210
Pretty please, is possible do something about it?

Calendar Widget is my favorite one.

[2017-06-20 17:22] jancborchardt opened #263 "Introduce month / multiple week widget style next to agenda list"
Just like for example the calendar apps Etar or Business Calendar have a very nice monthly / multi-week view, it would be cool to have a widget for that. Business Calendar does it like that:
![](http://www.guidingtech.com/assets/postimages/2015/01/2015-01-22-21.49.50.png)

Events are directly visible, clicking on a day opens the calendar app on that day, clicking the header opens the calendar app

[2017-06-25 08:08] hodbauer opened #264 "Failed to refresh"
On my MIUI Redmi note 4, with android 6.0 the widget refresh button do not work at all. Moreover, it not refresh automatically after an event has passed.

[2017-06-25 15:09] yvolk commented on #264
@hodbauer It's interesting, as for your observation, when is the Calendar Widget list updated?

The Calendar Widget is updated by external events, presumably sent by a Calendar application or a "Refresh" button,
and also automatically once in 6 hours (as I see in https://github.com/plusonelabs/calendar-widget/blob/master/app/calendar-widget/src/main/res/xml/calendar_appwidget_info.xml )

[2017-06-25 18:14] hodbauer commented on #264
@yvolk The only case that I'm 100% sure about it, is when I'm scrolling to the bottom of the list, then it refresh the list, and I've got updated.
 In any other case it's not for sure that i'll be updated.

[2017-07-21 20:17] askalburgi opened #265 "Optional"No Upcoming Events" text"
Hello,

I was wondering if it's possible to get a toggle for the text to appear when there is an `empty_event_list`.

There are different ways to implement it ofc, but I think it would be pretty minor.

Looks like after adding the toggle cell, `R.string.no_upcoming_events` can be set to empty and then everything in the
[EventAppWidgetProvider](https://github.com/plusonelabs/calendar-widget/blob/bc

[2017-08-14 21:04] sgserg commented on #262
+1 on this. Making subject/summary and location fit single line is just wrong: they have different type/importance. Also the stock widget (emulator image) uses slightly different fonts for summary and where/when (typeset difference emphasising difference in type?). Not sure if stock widget is the right reference, but it somehow looks good with 2 lines for summary, 1 line for location and 1 line fo

[2017-08-14 21:08] sgserg commented on #262
also, color bar being a space waste for single-calendar/type-of-events widget?

[2017-08-23 16:55] Ahwaiz commented on #220
+1 for Google reminders. There appears to be no implementation of this feature in any 3rd party calendar widget app I've come across

[2017-09-23 00:00] jancborchardt commented on #228
It's absolutely not superfluous. When it's completely empty, it's indistinguishable from an error, so these empty content feedback states are needed.

[2017-09-23 00:02] jancborchardt opened #268 ""No upcoming events" shows even when loading"
Sometimes before the widget loaded, the emptycontent text is shown.

This is disconcerting and makes it seem like data is lost / events are gone. The empty content view should only be shown when there are absolutely no events to show.

For loading, of course there should be a loading spinner instead.

[2017-09-24 09:55] Shadowigor commented on #150
This seems to be a quite old issue, but I'd like that as well. Will this be implemented at some point?

[2017-09-24 10:10] Shadowigor opened #269 "Add month when title is disabled"
I try to have my widget as compact as possible, so I disabled the daily titles and moved the time to the same line. The only indicator of the date that is left only shows the day, but not the month. This looks quite weird and can also be confusing. There is also room left to add an abbreviated month.

Example:

![screenshot_20170924-115627](https://user-images.githubusercontent.com/6695660/3078152

[2017-09-25 05:45] yvolk commented on #150
This is a duplicate of an answered question https://github.com/plusonelabs/calendar-widget/issues/238
Please see there how to setup this.

[2017-09-25 05:45] #150 closed

[2017-09-25 07:10] Shadowigor commented on #150
No, this is not a duplicate. #238 is refering to opening a single event in a third party calendar. That's already working by default for me. What this is about is opening the default view of a calendar, NOT the event itself, when you click anywhere on the widget.

[2017-09-25 15:49] yvolk commented on #150
I just tried clicking on a date in the Calendar Widget's header. Just like clicking on a single event, Android prompts me for a Calendar application to use:
![screenshot_20170925-184506](https://user-images.githubusercontent.com/207716/30817653-1697f55e-a222-11e7-9845-e6fcc7115515.png)

[2017-09-25 16:08] Shadowigor commented on #150
Yes, that's working, that's not the problem. The behavior I was looking for, was that tapping **anywhere** on the widget would open the calendar and never a specific event. Even with the header disabled.

[2017-09-26 06:00] yvolk commented on #150
@Shadowigor This means that we closed _this_ issue correctly. Your request is not about it.
In order for _your_ request to be clearly stated and not confused with others, you could  create new issue with focused title and detailed description.

[2017-09-26 06:12] ktaragorn commented on #150
Actually I think my issue is the same as he is describing

On 26 Sep 2017 2:00 PM, "Yuri Volkov" <notifications@github.com> wrote:

[2017-09-26 15:25] yvolk commented on #150
@ktaragorn Good, now you could formulate your wish better :-)
In a new "issue", please.

[2017-09-27 03:24] ktaragorn commented on #150
Why cant it just be reopened? Isnt that what that button is designed for? To reopen tickets that were prematurely closed.

[2017-09-27 05:22] yvolk commented on #150
@ktaragorn This is a methodological/development process question.
This issue was created with another subject and description. According to _that_ information it was discussed and is now closed correctly.
Reopening the issue and changing its subject/description would be confusing, because previous conversation was about another subject.
This is why creation of a new issue with new subject (and wit

[2017-09-27 05:48] ktaragorn opened #270 "Feature Request: Any click on the widget should just open the calendar app"
This would be an option which, when enabled, just causes all clicks on the widget to open the configured calendar in its default view, without the current behaviour of clicking on individual entries.

This is a recreation of  #150 to bring it up to date and reduce confusion

[2017-09-27 05:49] ktaragorn commented on #150
@Shadowigor follow the issue at #270

[2017-10-02 12:56] jonasz85 opened #271 "Few requests from a former AAW user"
Hello,
I used "Android Agenda Widget" for a long time. But it has been abandonned and is no longer compatible with recent Android versions.
Now I adopted "Calendar Widget" :)
Here is few cool features from AAW that I would like to get:
<a href="https://ibb.co/fcsiWG"><img src="https://preview.ibb.co/hZLsQb/widg.png" alt="widg" border="0"></a>

Thanks a lot :)

[2017-10-17 03:09] wiggum333 commented on #246
I agree that there should be an option to edit the calendar colors within the app/widget if you want to (or leave them alone) ... and just as important would be the ability to remove the calendar color markers in the widget completely.  I prefer the much more simple, clean look of just the text.

[2017-10-17 03:12] wiggum333 opened #272 "Special color for "Today's Events""
I would love to see an option added that allows us to set a custom color for "today's events".  This is a feature of a calendar widget I used before, and it was one of the best features, as it makes it clear at a glance whether or not you have any remaining agenda events for that day, or if everything you're seeing in the widget is tomorrow or later.  Thanks.

[2017-10-30 18:50] diatel opened #273 "Events shift"
After apply decret time all events in widget have one day shift. I.e. event 1st nov in calendar show as 31 oct in widget

[2017-11-01 17:10] yvolk commented on #273
Every event has its own time zone. You can usually see the time zone if you open an event in some calendar application.
If you defined some event on November 1 00:00 AM at Summetr time, it will be on October 31 23:00 Winter time.
The calendar Widget may use current Device's Time zone, or its timezone can be locked, see https://github.com/plusonelabs/calendar-widget/issues/201

[2017-11-15 05:07] bjweichel opened #274 "Add Event Entry Layout option for Time *Above* Title"
Love the widget, thanks!

Can you add an option to the "Event entry layout" feature to allow putting the time above the title in addition to the existing option of time below title?

[2017-11-18 19:43] lottanbettan opened #275 "[Feature Request] Hide calendar colors"
Hi, great widget!
Would be nice with a setting to hide the calendar colors to the left of each event. That would make it look more clean and balanced, and would give some extra width for text instead.
Cheers.

[2017-11-24 09:38] qoheniac opened #276 "Slows Down KISS Launcher"
This widget fits very well together with KISS Launcher, but it slows down the search function. I don't know if this is a problem with this Widget or with KISS Lahncher, but I never had this kind of problem with other widgets.

[2017-12-01 12:03] dharnidharvemuri opened #277 "Calendar crashes when you select an item. I use Android 7.1.1"
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equalsIgnoreCase(java.lang.String)' on a null object reference
	at com.android.calendar.event.EventInfoFragment.initAttendeesCursor(EventInfoFragment.java:803)
	at com.android.calendar.event.EventInfoFragment.access$3100(EventInfoFragment.java:109)
	at com.android.calendar.event.EventInfoFragment$QueryHandle

[2017-12-03 09:06] vad11m opened #278 "Still showing ended calendar events."
Still showing ended calendar events when settings explicitly chosen not to.

Once the app is opened, past events are cleared. Android 8.1 DP2 (noticed bug since Android 8.0).

[2017-12-09 14:31] eleco2000 opened #279 "It freezing in Huawei mate 10 pro"
It freezing (stop to respond, not read) in Huawei mate 10 pro. Perhaps it has to do with Android oreo.

[2017-12-09 14:34] eleco2000 commented on #279
Failed to refresh, this is in addition to the above

[2017-12-09 14:41] eleco2000 commented on #279
when I'm scrolling to the bottom of the list,  most of the times not refresh the list and the message 'reading' stays permanently

[2017-12-14 02:37] dharnidharvemuri commented on #277
Any updates on the issue reported?

[2017-12-15 20:18] yvolk commented on #277
I would say say that this looks like a firmware bug...

[2017-12-16 00:20] dharnidharvemuri commented on #277
I do not think so. It seems to me more of a permission or access issue.

On 16-Dec-2017 1:48 AM, "Yuri Volkov" <notifications@github.com> wrote:

[2017-12-20 19:19] ykarulin commented on #279
Same here. I have excluded Calendar Widget app from the automated power-saving management but no help.

When it freezes, it keeps showing the past events and doesn't load new events (the "Loading..." line stays there). Clicking on past event opens a calendar though.

![img_20171220_211352](https://user-images.githubusercontent.com/3503973/34224212-cf6b84c4-e5ca-11e7-94c6-917094e7a60c.png)

[2017-12-21 13:46] eleco2000 commented on #279
Please solve this problem because this calendar widget is the best of it's kind out there

[2017-12-23 03:14] yvolk commented on #279
@eleco2000 As the problem is certainly device-specific and doesn't occur on our devices, I think that you need to debug the cause yourself on your devices (granted the source code is opened). You may start from running automated test pack, then investigate actual place of freezing by addition of logging... or try to forward this issue to the device vendor - Huawei.

[2018-01-08 09:00] alesoftware opened #280 "Widget Scrolling"
With Nokia 8 scrolling events in the widget is unresponsive  and chaotic.

[2018-01-12 04:25] PatrickWenk opened #281 "Allow option to hide date from widget header"
The widget header displays the current day/date. It would be nice to be able to toggle the day/date off.

I use this fantastic app as a full screen widget on my pixel 2 xl home screen. The pixel 2 already shows the day/date at the top of the screen. Paired with the calendar widget the info is redundant.

I realize that I can hide the header all together however with the full header hidden I lose t

[2018-02-01 11:30] igoramadas commented on #163
Will this ever be implemented?

[2018-02-03 19:49] hawkintx commented on #163
Love the widget, would be almost perfect if you could hide duplicate events.

[2018-03-06 15:38] aribeiro2018 commented on #279
Hello, I have exactly the same problem on a different phone but also running Android 8 Oreo, I did not have this problem with a previous version of Android. I am not 100% sure that the problem is "device-specific" as yvolk is arguing because on the same phone I have other widgets from 3rd parties working and updating including a different calender widget. The thing is that I do prefer this "calend

[2018-03-08 14:52] tibloop opened #282 "Display current date if there are no events"
I created a 1x1 widget with only the events of today.
I selected the option " display the dates headers for days without event"
However if there is no event today it only displays " no event comming" when it should still display the date

[2018-03-19 18:48] xlbk commented on #279
Hello,
Same at my device. After updating to Android 8.0 calendar widget is freezing and only does updates of calendars after restart the device.
So if Logfiles might help, I can provide these.
Best regards

[2018-03-19 19:28] mpost commented on #279
Best help would be to debug the widget and see if the calendar content provider is getting called

[2018-03-19 20:03] xlbk commented on #279
Thanks for the quick supply. But as I have no idea with software development, I even have no idea how to do that. I'm a design engineer :-)
I found a thread at xda-developers about same problems with update in many widgets (even news widgets from BBC for example seem to have problems)  after update to Android 8 with Emui 8.0.0
So it might not be a problem with a specific device but with all huawei

[2018-03-20 17:51] xlbk commented on #279
I got feedback from huawei support. There seem to be some issues since update so Android 8 and Emui 8.0.0 with all huawei devices and different calendars (and widgets).
They told me to reinstall the widgets and clear the cache. If this doesn't help, we should wait for the next update. As expected this didn't solve the problem.
Not very satisfying as the main function of my smartphone (calendar) is

[2018-03-20 18:06] aribeiro2018 commented on #279
What I have found out is that with  Android 8 and Emui 8 there are no problems with the calendar widgets of "Google Calendar" and Huawei's calendar app, they work well. The widgets of other calendar apps have problems, including this "calendar-widget", when then have a window with scrolling of events; if you choose a widget that simply shows events without scrolling it works and refreshs without p

[2018-03-20 18:48] mpost commented on #279
Thanks for the info. Please let us know when huawei releases an update that adresses the issue.

[2018-04-01 09:09] ThomasHaefeli commented on #279
Same problem here.. I have a Huawei P9 Mate with Android 8.0.0. Everything with cache and data deletion, reinstallation, restart, system apps, etc. did not work. Since the update, this problem occurs. First I thought it could also be Nova launcher,.But tests with original Huawei launcher have been negative too. At beginning of this week Google Calendar worked. Now also same problems with Goggle ca

[2018-04-04 22:06] ThomasHaefeli commented on #279
now, all calendar do not work anymore..

[2018-04-13 17:58] anthraxn8b commented on #182
@dmfs Sorry, but I am no longer using the Nexus 5. This does not mean that I have no Problems related to calendar syncing any longer :-)

[2018-04-20 15:16] MarcSN311 commented on #275
seems to be a duplicate of: #174

[2018-04-20 15:29] MarcSN311 opened #283 "disable number of days in "All in one row" mode"
When changing the Event entry layout from "Time below title" to "All in one row" a number appears in front of each line.  It would be great if there would be a setting to disable it.
When enabling Day headers the number disappears. But I don't want those.

[2018-04-21 00:59] c-e-p-x-u-o opened #284 "Oreo icon shape"
Please add support for icon shape
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html
https://material.io/guidelines/style/icons.html

[2018-04-24 11:53] mcbirne commented on #279
I have the same Problem with my huawei p20pro. Is there any solution or idea?

[2018-04-24 12:46] xlbk commented on #279
I'm still waiting for the update from huawei. The problem is reported and I hope huawei is working on this topic.
The support didn't tell me any date when they plan to release it.
Sometimes the widget works, sometimes it's freezing.

[2018-04-25 14:02] mcbirne commented on #279
I test it. It seams to work if I don't use the scroll function. Is it possible to deactivate the scroll function in the settings? I can't find it.

[2018-05-04 08:52] kockok opened #285 "Show events for 3 days ahead and "no upcoming events""
I scratched my head and see no reason for a lack of "3 days" in the date range.
Besides, please make an option to disable creating events when tapping the "no upcoming events" area.

[2018-05-07 23:48] evmin commented on #279
Same issue. Would be nice to fix.

[2018-05-09 23:49] mdromed opened #286 "font colour of today events"
I cant set font colour for today active events.
:(

[2018-05-10 14:30] Cimbass opened #287 "Change calendars display order"
The order of all-day appointments and holidays is unfortunately a bit unfavorable for me at Google Calendar:
- All-day appointment
- Holiday
- Dates with time

I would prefer it in the widget:
- Holiday
- All-day appointment
- Dates with time

Therefore, it would be nice if you could change the order of calendars in the calendar widget.

[2018-05-13 09:19] Ronin-Jay opened #288 "[feature request] Set color and font size of every day title"
I would like to change the color and the font size of every day title (today, 14.Mai / monday, 15. Mai / etc.)

[2018-05-21 18:03] Offerel opened #289 "Sometimes after pressing home button, the widget is empty"
Sometimes, when I leave apps like "forge of empires" or other apps and i press the home button on my Samsung Galaxy S7, the widget is empty. I must hit the little refresh symbol at the widget and then the content is displayed correctly.

Android 7.0.x
April Patch

[2018-05-22 11:44] sogy commented on #279
Bonjour ,
Même problème sur Honor 7X et depuis la mise à jour vers Android 8.0

Hello,
Same problem on Honor 7X and since the update to Android 8.0

[2018-05-22 12:28] eleco2000 commented on #279
The developer of the app "Your Calendar widget" which you can find in Google play store, solved the issue. Now I use it in my mate 10 pro and works fine. Sent from mobile device -------- Αρχικό μήνυμα --------Θέμα: Re: [plusonelabs/calendar-widget] It freezing in Huawei mate 10 pro (#279)Από: sogy Προς: plusonelabs/calendar-widget Κοιν.: Elias ,Mention Bonjour ,
Même problème sur Honor 7X et depui

[2018-05-22 12:29] eleco2000 commented on #279
The developer of the app "Your Calendar widget" which you can find in Google play store, solved the issue. Now I use it in my mate 10 pro and works fine.

[2018-05-24 05:10] xlbk commented on #279
I also tested the "your calendar widget" and it seems to work fine without any issues on my Huawei P10.
Looks like the developer has found a solution for the freezing problem without any update from Huawei EMUI (which is still not available).
Could Huawei users support the development team of calendars-widget to also find a solution?

[2018-06-04 17:14] vintaclectic opened #290 "Feature request: Hex code entry field for any of the appearance settings"
Nothing too pressing but I use your widget and has become my go-to app of a few for any new phone and widget always placed on home screen. Thank you for creating it and keeping it updated and working so nicely!

If anything, I tend to be almost OCD like in my color choices for all appearance settings in apps and display on phones and no different across all my devices. I use three particular color

[2018-06-05 15:47] meyerajm opened #291 "No longer in Google play?"
I went to Google Play to leave a review because I didn't have an account with GitHub, but I can't find the widget app anywhere. Your link to the Google Play app page also says "item not found." What's going on? Is this widget discontinued?

[2018-06-05 15:49] mpost commented on #291
We are experiencing problems with the store listing. Please stay tuned.

[2018-06-05 15:50] meyerajm opened #292 "White background not possible"
There is no way to create an opaque white background in the appearance settings. The best you can do is a totally transparent light background. This is because moving "down" the spectrum of dark to light in any color is also the transparency control. Please separate transparency from color.

[2018-06-05 15:51] meyerajm commented on #291
Ok good. So you're not closing up shop.

[2018-06-05 15:55] meyerajm commented on #292
Ok,I figured out white. For others: the top slide bar is the darkness of the color and the bottom side bar is opacity.

HOWEVER: there is still no way to choose grayscale and have control over the darkness and opacity of that. Developers, could you add black to the color wheel (or beside it) so greys with customizable opacity are an option? Thanks!!!

[2018-06-06 15:10] druckmusik commented on #291
Any news on this?
Can the apk be found somewhere elso to download?

[2018-06-06 18:41] mpost commented on #291
We are in active contact with Google and will keep you updated. Of course you can still build the app from sources.

[2018-06-17 07:09] Offerel commented on #291
Oh my god. I uninstalled the app by mistake and i didn't have a apk. Is there anything somewhere?

[2018-06-17 13:46] Homeuser66 commented on #291
If it's allowed, I can back up the apk and share it. I just wiped my phone and couldn't find it in the play store again. I have it on my tablet, so I shared it with my phone, now I have it again.

[2018-06-17 14:30] Offerel commented on #291
That would be great.

[2018-06-17 15:09] Homeuser66 commented on #291
Here is the apk from my phone. Enjoy!

https://drive.google.com/file/d/1wkLQ59uhkK5nujYdE-UlVqkXEZ2vaYiX/view?usp=drivesdk

[2018-06-17 20:36] Offerel commented on #291
Many thx. I hope the dev. could find a solution with Google to fix the app listing at the store.

[2018-06-26 09:50] yafp commented on #100
I guess this issue is heavily outdated.
Apart from that i haven't had any issues with resizing the widget over years on multiple devices.

@allanlaal  & @mamandell:
Is that issue still valid for you?

[2018-06-26 09:58] mpost commented on #100
I agree with @yafp. Closing the issue for now.

[2018-06-26 09:58] #100 closed

[2018-06-26 11:16] mamandell commented on #100
No longer needed for me.   Thanks for being open source! I resized it for my phone by recompiling with the minimum size set larger   I still use this.  .Great app!

[2018-07-06 07:12] prediscover commented on #291
Any updates?

[2018-07-06 08:03] mpost commented on #291
Thanks for your interest in the app. At the moment we have no news to report. Out developer account got banned for some unclear reason. We are trying to get in contact with the Google Play team but that turned out to be very difficult.

[2018-07-06 11:20] Homeuser66 commented on #291
Well that just sucks! Sorry to hear this. Hope it gets resolved soon! Thanks for being honest and telling us what's really gong on. It's there anything is end users can do to speed up the process?

[2018-07-06 15:49] Offerel commented on #291
I have found the app also at F-Droid official Repository. Have a look at  https://f-droid.org/en/packages/com.plusonelabs.calendar/

[2018-07-09 05:58] pcolby commented on #291
There must be something the community can do to help get this back into the Play Store?  Is there a Play Store email address we can write to or something?

[2018-07-09 08:05] mpost commented on #291
We have filed an appeal about our account termination but so far have not gotten any clarification of what exactly has been held against us. We have tried to get in contact with the Google Play team on various channels but so far with no luck.

Here is the docs entry from the Google Play help: https://support.google.com/googleplay/android-developer/answer/9023898?hl=en&ref_topic=15868 (under "Acco

[2018-07-10 07:42] JPAhnen commented on #279
With the newest update (B145) Huawei finally fixed this bug. No more freezing.

[2018-07-10 09:38] eleco2000 commented on #279
Wait for three or four days and let see

[2018-07-12 20:17] yvolk commented on #291
@mpost Did you use any sort of data collection from users devices' in one of that account's applications? As I remember, several years ago very popular "Dialer One" application was permanently deleted from Play Store for some "statistics" like that...

[2018-07-13 16:11] mpost commented on #291
@yvolk We got reported for "Impersonation" but are not aware of any wrong doing. We have contact the support again and they said to "ensure a faster resolution of your appeal, I’ve forwarded your message to our Policy team". If that really means anything is up in the air.

[2018-07-19 13:12] mysmaemi commented on #279
is that bug solution (B145) working? Because I might buy this device soon, hence the question

[2018-07-19 13:30] aribeiro2018 commented on #279
I have a Huawei P Smart with Android 8 and this calender-widget keeps freezing. I believe it is a problem with this software because all other calender widgets work without a problem whatsoever. I wish they could fix the problem with this calender-widget because it is the best software of its kind out there.
regards

[2018-07-20 07:25] JPAhnen commented on #279
@mysmaemi Yeah, it's working fine since the update. The widget updates correctly and doesn't freeze.

@aribeiro2018 I don't know the update cycle of the P Smart, but it is/was a common problem with EMUI 8 and it affects only scrollable widgets.

[2018-07-24 18:08] gravax commented on #291
You could put it on the Amazon store...

[2018-08-14 16:26] atomicjoy commented on #291
Is there any update on this?

[2018-08-15 10:18] Homeuser66 commented on #291
Yeah, are they allowing you back in?

[2018-08-17 17:47] mpost commented on #291
Thanks for your interest in the app. We have not come to an agreement with the Google Play team yet. We are not giving up and will use other ways of distribution if it comes to it.

[2018-08-19 14:28] Homeuser66 commented on #291
Hope you get it worked out soon!

[2018-08-20 14:41] phil99 opened #293 "Feature Request: a 'goto today' button on the widget header"
Scrolling back to 'today' is tiresome, especially if show all past events is on (in my case several years worth of scrolling). A button on the widget header would be great.

[2018-08-22 14:00] KAndrsn opened #294 "Refresh button when "No upcoming events" displayed."
The widget will randomly display "No upcoming events".  This is not true.  To get my calendars back, I have to disable/re-enable a calendar in the settings.  It would just be nice to have a button on the widget to refresh/re-sync the widget with the calendars.

[2018-08-24 18:28] gmazzo commented on #279
Same issue here on my Huawei P10. The firmware is to to date (8.1.0.130 C605) but it's still freezing.

Other widgets have the same issue too

[2018-09-27 17:53] fredddii opened #295 "Allow widgets to be removed from the settings"
I use Open Launcher and when I remove a home panel which contains widget, the widget settings remain in the application, eventually cluttering it with widgets that should no longer exist.

![calendar-widget](https://user-images.githubusercontent.com/15217150/46164669-e94bbe80-c28e-11e8-8a18-7a13d9802127.png)

[2018-10-17 10:31] ciarpame commented on #214
Hi,
I second this request: even if a minor detail, it would be a great cosmetic enhancement. Thanks!

[2018-10-23 19:32] Ralf27 commented on #174
I would appreciate that too. It would be great to be able to enable/disable the color of each calender additionally.

[2018-12-19 05:43] DAVe3283 commented on #291
Same here. Just got a new phone, and noticed the app didn't transfer. Would love to have it back in the store.

[2018-12-19 08:11] mpost commented on #291
It is great to hear so much appreciation of this calendar widget. We could still not resolve the Google Play account issues but we decided to move on and and to republish the app. This will give it a new identity in the store so you would need to reinstall. Please stay tuned as the calendar widget will return soon.

[2018-12-19 08:13] iloveeclipse commented on #291
So far the best calendar widget I've tried. Great work.

[2018-12-19 08:16] pr0gg3r commented on #291
It's my favourite calendar widget - the best ever made. Thanks a lot.
I'm glad that it is on GitHub, for me no need to deploy it to the Play Store ;)

[2018-12-19 08:38] StarCruiser75 commented on #291
Agree, best calendar widget ever, glad to hear that it will come to new life!!

[2018-12-19 09:58] yafp commented on #291
@mpost:
Please let us now what the new identifiy is (once it is done). Otherwise we aren't able to locate/find it in Google Play i guess.

Thanks

[2018-12-19 12:42] Homeuser66 commented on #291
@DAVe3283
@yafp
 if you look at my post ☝️, the 9th post. You will see the link to the apk so you can install it again. It you can wait for the new and improved version mpost mentioned.

[2018-12-19 22:53] FrankVteZ commented on #291
Well I love the widget too. Love to see it again in Google play.

A nice work-around: due to phone policies I'm not able to install non-Google Play apk's.

With the use of "Samsung Smartwitch" (Google play) I transferred the app from my older S6 to my new A8 device and that works like a charm!
And please don't tell my admin :)

[2018-12-20 00:41] Homeuser66 commented on #291
@frankvtez you can install it, just change the setting to allow it

[2018-12-20 06:43] FrankVteZ commented on #291
@homeuser66 No I cant. Disabled option.

[2018-12-20 16:09] Homeuser66 commented on #291
@frankvtez ok sorry. I am able to, thought you might be able to add well. At least you got it again

[2018-12-22 16:59] LocutusX commented on #291
Would be a terrific "Christmas" present if this wonderful app/widget got "republished" to the Google Play Store.

I think many of us like this widget so much, we would be willing to donate money (PayPal, etc.)!

[2018-12-22 17:43] yvolk commented on #291
I'm preparing to publish at Google Play renamed version of the "Calendar Widget" using another developer's account. Other than the new name, which you will know soon... :-), it will be exactly the same as the latest version of the Calendar Widget.

[2018-12-23 14:59] yvolk commented on #291
The new Calendar Widget app is called "Todo Agenda" and it is available at Google Play: https://play.google.com/store/apps/details?id=org.andstatus.todoagenda
I decided not to associate it with any commercial entity (even with my own .com domain), and this is why I made the Todo Agenda a part of the non-commercial andstatus.org project, and corresponding AndStatus project at GitHub; https://github

[2018-12-23 20:36] Homeuser66 commented on #291
Excellent! I'm getting it now!

This was sent from my Droid Phone, sorry for any typos...

AL

On Sun, Dec 23, 2018, 09:59 Yuri Volkov <notifications@github.com wrote:

[2018-12-24 19:01] atomicjoy opened #296 "Use of screen real estate"
Resizing text didn't seem to change the text size for the time when the all in one row event layout is selected, which stops you being able to fit more information onto the widget by reducing the text size.  Also, it would be nice to be able to reduce the passing between each element.

[2019-01-06 18:50] LocutusX commented on #291
Hi yvolk,

Appreciate you taking the initiative to resolve this issue!

Is your "version" of this app identical to the original author's version (bit for bit) - and is it also sanctioned by the original author for you to re-publish it?

Thanks.

[2019-01-06 19:43] yvolk commented on #291
@LocutusX re-published version is _not_ identical to the original one, of course. Even a new name changes an application and can potentially break it. Fortunately, no problems, caused by these changes, were found so far (60 active user installs are reported by Google Play).
Regarding "original author"'s attitude to the widget's re-publishing please read his comment above: https://github.com/pluson

[2019-01-07 08:50] mpost commented on #291
@LocutusX Thanks for your interest in the widget. @yvolk and myself have synced the migration and going forward the new app will be the official version in the store. Enjoy responsibly. :)

[2019-01-08 22:44] iloveeclipse opened #298 "No calendar updates in Android 8+"
I'm using forked new agenda app, and observe that the calendar info seem to be updated once in the day. Means, I see new or deleted or changed appointments only next day OR if I remove the widget and add it again.

This seem to be a regression from the last version of the old app.
I have it on Oreo and Pie, Huawei and Nokia, so it seem to be an app issue.

[2019-01-09 15:11] SubSi commented on #231
Unfortunately even the abreviated date is cut off in the header column when I use a narrow sized widget.
Maybe add small text size option for the header.

[2019-01-11 01:46] RiceTea opened #299 "Show school calendar in the Todo Agenda"
I am a university teacher. Calendar widgets /Todo Agenda is a great tool, I started using it three years ago. I hope to add a feature to show the school calendar in the Todo Agenda. This function can be selected by the user to display in the list, and also requires a function to set the first week start date of the school calendar. The style of the display is just enclosed in parentheses at the en

[2019-01-13 20:07] firecat53 commented on #291
Are you planning on publishing and maintaining the app on f-droid also? Existing version works but is a year and a half old (1.10). Thanks!

[2019-01-14 14:53] relan commented on #291
F-Droid maintainer here.

A small correction: there's 1.10.1 available on F-Droid, see https://f-droid.org/en/packages/com.plusonelabs.calendar/

As far as I can see 2.0 is identical to 1.10.1. If 2.0 gets an update, ping me and I'll happily add _Todo Agenda_ to F-Droid.

[2019-01-15 13:20] haakonhh commented on #298
I am unfortunately experiencing the same behavior on my Pixel 3.

[2019-01-15 19:09] yvolk commented on #298
I don't think that failure to update calendar events is specific to the latest build. Please see #182 "Using CalDAV - No widget sync. after calendar sync" more than 3 years ago with our discussion on a proper way to know, when a calendar was updated (which Android notification to catch...). It has links to different documentation sources...

Similar #225 "seems the calendar cannot up to date autom

[2019-01-15 20:30] iloveeclipse commented on #298
Google own (ugly) Calendar widget refreshes instantly. I don't know if this is open source?
May be there is some new API addedin Android 8 or 9 which allows them to do so?

[2019-01-18 03:56] yvolk commented on #298
I found code for AOSP/Calendar https://android.googlesource.com/platform/packages/apps/Calendar.git and didn't find any clues at a first sight.
Then I made events update test with my android 7 and 8 devices and found out that the Todo Agenda widget is not updated (at least, for a long time) on Android 8 only.
And finally, looking into device logcat, I saw the problem:
`` W/BroadcastQueue: Backgrou

[2019-01-18 05:36] iloveeclipse commented on #298
Huawei 8 and Nokia 9.

[2019-01-18 09:40] haakonhh commented on #298
@yvolk Google Pixel 3 with Android 9.

[2019-01-18 18:14] yvolk commented on #298
@iloveeclipse @haakonhh  I see, so the problem is really with Android 8 / 9 support.
I already made similar fix for AndStatus application, so this fix should not be a problem.

[2019-01-18 20:31] yvolk commented on #298
I looked deeper, read docs ( https://developer.android.com/about/versions/oreo/background#broadcasts ) and see that the "implicit intent" ( action=android.intent.action.PROVIDER_CHANGED ) really becomes unavailable in Android 8+ until the widget is not "in the foreground" (meaning explicit and constant User notification on this, which doesn't look practical...). We cannot make the intent "explicit

[2019-01-19 10:56] yvolk commented on #298
When I realized that self-registering on the needed intents works, the fix appeared really easy.
In addition to the PROVIDER_CHANGED action, the widget is now subscribing itself to the USER_PRESENT action, meaning that widgets will be updated each time a User unlocks a screen.

As I noticed, the PROVIDER_CHANGED action occurs about 30 seconds after event change in a Calendar.

Please try the fix i

[2019-01-19 11:20] iloveeclipse commented on #298
OK, now "Refresh" button properly refreshes, and also widget refreshes on lock/unlock.
This makes the widget at least usable again on Android >= 8.
Great.
... but there is still no widget refresh after adding/changing/removing an event in calendar app.
If you would manage how to refresh the widget after changing events in the calendar apps, it would be perfect.

[2019-01-19 11:34] yvolk commented on #298
So now we are talking about speeding up syncing/refresh of a Calendar application. I think that this depends on a Calendar app you are using and maybe _that_ Calendar app has some "sync button widget" for this?

[2019-01-19 11:36] iloveeclipse commented on #298
No, I mean that after I'm creating an event, I see this in the widget only after explicit refresh or after locking/unlocking.

[2019-01-19 13:35] yvolk commented on #298
@iloveeclipse After adding a new event, could you wait for a while for the widget's update, don't letting your device to go to sleep, and see, when the widget is updated.
I just tested again: after changing existing event, the widget is being automatically updated after 30 seconds.

[2019-01-19 13:41] iloveeclipse commented on #298
OK, it seems it takes a bit longer on Nokia, somewhat about one minute. Anyway, release that patch! It is great!

[2019-01-19 14:04] yvolk commented on #291
@relan So, Todo Agenda v2.0.1 is released with the first, but important fix for Android 8+ (see #298).
Please, add the Todo Agenda to F-Droid.

[2019-01-20 05:30] yvolk commented on #298
I added corresponding answer to StackOverflow on this: https://stackoverflow.com/a/54273840/297710

[2019-01-20 06:04] relan commented on #291
@yvolk, we can actually add 2.0.1 as an update of 1.10.1, i.e. keeping the old app ID. Should I do this or you'd prefer Todo Agenda to be a new app with the new ID?

[2019-01-20 06:12] yvolk commented on #291
@relan I thought about this also...
As we decided to have the renamed application (which has its own forked repo https://github.com/andstatus/todoagenda ) in the master branch of the main repository (thus completely overwriting the old application), I think that it is logical to keep the old application ID and the old repository link.
These are the application name _and_ application package, that

[2019-01-20 09:32] yvolk commented on #291
@relan I see that currently auto update is turned off:

    Auto Update Mode:None
    Update Check Mode:None

Could we turn it on via something like this:

    Auto Update Mode:Version v%v
    Update Check Mode:Tags v^[0-9.]+$

?!

[2019-01-20 09:40] relan commented on #291
Not possible for dynamically generated versionName and versionCode.

[2019-01-20 09:42] yvolk commented on #291
Got it, thank you.

[2019-01-23 18:04] yvolk commented on #291
@relan I see that the last build in F-Droid failed. What should we do to fix this?
https://f-droid.org/wiki/page/com.plusonelabs.calendar/lastbuild_425

[2019-01-24 04:45] relan commented on #291
Google changed their SDK license and now almost all builds fail, see https://gitlab.com/fdroid/fdroidserver/issues/620

[2019-01-24 06:15] yvolk commented on #291
@relan So we're waiting for a fix at f-droid server end?!

[2019-01-24 06:16] relan commented on #291
Yes. Nothing to do on your side.

[2019-02-03 16:41] c-bug opened #300 "Wrong calendar order"
Hi,

I am using Todo Agenda from f-droid. In the past I noticed some problems with the events in my calendar.
I made you 3 screenshots. They are missing "Feb. 6th", and instead the events of Feb 6th are listed in Feb 5th.

![screenshot_20190203-171812](https://user-images.githubusercontent.com/15331118/52179340-85f01100-27d9-11e9-8533-96966184a5eb.png)
![screenshot_20190203-171934](https://user-im

[2019-02-10 19:48] yvolk commented on #124
As one of users suggested, we could add background color setting for Today's events...

[2019-02-10 21:57] mdromed commented on #124
please let us change background color or font color for today events.
Regards

[2019-02-19 16:58] #291 closed

[2019-03-08 22:00] gatorheel opened #301 "Time Column Width"
I use an admittedly very dense setup and am using Nova Launcher and Android 9 which might contribute to my issue.  I have Todo Agenda set up to show one line per event, start time only, and the column width is too small to show the full start time, truncating am/pm on all and the last minute digit for double-digit hours.  Is there a setting I'm missing or is this a bug?

Thanks!
Matt

![Screenshot

[2019-03-11 16:35] Thierry1400 opened #302 "Refresh button failed to do anything"
Using on Samsung S8 update, no action of update in case of synchronization, the button does not work. To update, I have to change the "look" of the widget, and restore it as before, so the update is done ...
And when the refresh button is fixed, you can create a menu from the "Three Points" menu to select the refresh. , the buttons are too small to select "+", "refresh" or "param" ... with "ordina

[2019-03-11 17:59] yvolk commented on #302
This was a compatibility problem that we resolved a couple of months ago.
See #298

Please download the last version from https://play.google.com/store/apps/details?id=org.andstatus.todoagenda

[2019-03-24 20:50] stemy2 opened #303 "No more update"
Hello,

Since an undefined time, the updates are not applied to the widget, but are in my local calendar. I added a new online ics source with the app icsx5, but nothing changed in the widget, only in my local calendar.

I reinstalled the app, and now, the widget is empty whatever i do.

[2019-03-24 23:25] drojf commented on #76
Closing this issue as there's a newer one with better reasoning on why this feature is desired: https://github.com/plusonelabs/calendar-widget/issues/215

[2019-03-24 23:25] #76 closed

[2019-03-24 23:26] drojf commented on #215
I closed my issue as it's a duplicate of this issue.

[2019-03-25 16:22] yvolk commented on #215
This old feature was implemented as a part of https://github.com/plusonelabs/calendar-widget/issues/42#issuecomment-289660073 and released two years ago.
Just select the "All in one row" Event entry layout, see https://github.com/plusonelabs/calendar-widget/issues/42#issuecomment-294288412

[2019-03-25 16:25] yvolk commented on #303
Looks like a duplicate of https://github.com/plusonelabs/calendar-widget/issues/302 , please see that issue.

[2019-03-25 16:25] #303 closed

[2019-03-25 16:31] stemy2 commented on #303
No, it's not. My problem has nothing to do with the update button, it's about an automatic update that doesn't work anymore.

[2019-03-25 16:32] stemy2 commented on #302
I downloaded the google play version, but the problem is still there.

[2019-03-25 16:37] yvolk commented on #303
As I found out during investigation https://github.com/plusonelabs/calendar-widget/issues/298 button not working and no automatic updates are related problems, caused by changing Android rules. Please read discussion in #298, maybe you will figure out the cause of your current problem.

[2019-03-25 23:46] drojf commented on #215
Ah, thanks. I think you can close your own issue then?

[2019-03-26 04:58] #215 closed

[2019-04-19 06:12] jfilaa opened #304 "Problem with refresh after longer than one day event"
Problem with refresh after longer than one day event.

[2019-04-30 17:26] danjde opened #305 "No problem, only feedback"
Hi Devs,
I'm using your fabulous widget on LIneageOS 15.01 and Nextcloud/Davdroid, no GAPS.
I would like to suggest little improvement for better usage:

1) option to hide/display setting menu, independently from today's day, that should have a specific and independent option to hide/show.
2) option to set different color for event present and future
3) option to set specific color for today's day

[2019-05-01 17:07] yvolk commented on #305
Thank you for suggestions, Davide.
Will add them to our TODO list.

[2019-06-20 21:06] ekalin opened #308 "Task (TODO) support"
Like other people, I like this widget, but I really want a widget that displays calendar events and tasks (or TODOs) together. Like Pure Calendar Widget does (or did), but unfortunately it's not working reliably lately and it seems not to be maintained anymore.

I read the previous issues about this topic, including the differently colored past events, but I find that solution unappealing.

Unfort

[2019-06-21 17:47] yvolk commented on #302
Maybe the problem is specific to Samsung updates?!

[2019-06-27 11:31] stemy2 opened #309 "Calendar list is empty"
Hello,

I have many events in my agenda, but none of them is visible on the widget. When i try to choose a calendar via parameters, the calendar list is empty, even if the said calendars exists in Davx5 and ICSx5.

[2019-06-28 16:29] yvolk commented on #309
The widget supports Android calendar only.
Apps that you are referring to, as I see, provide access to so other calendar types/interfaces...
https://f-droid.org/en/packages/at.bitfire.icsdroid/